<div class="subscription_wrapper">
  <% unless @subscriptions.nil? %>
    <div class="subscription_header">
      <h1>Configured subscriptions</h1>
    </div>
    <div class="subscriptions" id="subscriptions">
      <%= render 'subscriptions', subscriptions: @subscriptions, option_params: @index_options %>
    </div>
  <% end %>

  <% unless @notification_keys.nil? %>
    <div class="subscription_header">
      <h1>Unconfigured notification keys</h1>
    </div>
    <div class="notification_keys" id="notification_keys">
      <%= render 'notification_keys', target: @target, notification_keys: @notification_keys, option_params: @index_options %>
    </div>
  <% end %>

  <div class="subscription_header">
    <h1>Create a new subscription</h1>
  </div>
  <div class="subscription_form" id="subscription_form">
    <%= render 'form', target: @target, option_params: @index_options %>
  </div>
</div>

<script>
  loadSubscription();
  function loadSubscription() {
    $(".field_wrapper.subscribing").find("input[type='checkbox']").change(function () {
      $thisFieldWrapper = $(this).parent().parent().parent().parent();
      if ($(this).prop('checked')) {
        $thisFieldWrapper.next().slideDown();
        $thisFieldWrapper.next().find("input[type='checkbox']").prop("checked", <%= ActivityNotification.config.subscribe_as_default %>);
        $thisFieldWrapper.next().next().slideDown();
        $thisFieldWrapper.next().next().find("input[type='checkbox']").prop("checked", <%= ActivityNotification.config.subscribe_as_default %>);
      } else {
        $thisFieldWrapper.next().slideUp();
        $thisFieldWrapper.next().next().slideUp();
        setTimeout(function () {
          $thisFieldWrapper.next().find("input[type='checkbox']").prop("checked", false);
          $thisFieldWrapper.next().next().find("input[type='checkbox']").prop("checked", false);
        }, 400);
      }
    })
  }
</script>
