<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th>Inv. No.</th>
    <th>Reference</th>
    <th>Company</th>
    <th>Type</th>
    <th>Inv. Date</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Cur.</th>
    <th style="text-align: right;">Tot. Amount</th>
    <th style="text-align: right;">Paid</th>
    <th style="text-align: right;">Due</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Inv. No.</th>
    <th>Reference</th>
    <th>Company</th>
    <th>Type</th>
    <th>Inv. Date</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Cur.</th>
    <th style="text-align: right;">Tot. Amount</th>
    <th style="text-align: right;">Paid</th>
    <th style="text-align: right;">Due</th>
  </tr>
  </tfoot>
</table>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/responsive/2.2.3/css/responsive.foundation.min.css' %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.foundation.min.js"></script>

  <script type="text/javascript">
    $(function(){
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": "<%= refinery.business_invoices_path(filter_params) %>",
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.business_invoices_path %>") } },
          { data: "invoice_number" },
          { data: "reference" },
          { data: function(row, type, set, meta) { return row.company && row.company.name || null; }, "width": '40%' },
          { data: "invoice_type" },
          { data: "invoice_date", render: { '_': function(data) { return new Date(data); }, 'display': function(data) { return data; } } },
          { data: "due_date" },
          { data: "status" },
          { data: "currency_code" },
          { data: "total_amount", render: formatCurrency },
          { data: "amount_paid", render: formatCurrency },
          { data: "amount_due", render: formatCurrency }
        ]
      });

      initDataTableMenu(dt);
    });
  </script>
<% end %>
