<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th data-dt-search-input="true">Inv. No.</th>
    <th data-dt-search-input="true">Reference</th>
    <th data-dt-search-input="true">Company</th>
    <th data-dt-search-select="<%= ::Refinery::Business::Invoice::INVOICE_TYPES.join(',') %>">Type</th>
    <th>Inv. Date</th>
    <th>Due Date</th>
    <th data-dt-search-select="<%= ::Refinery::Business::Invoice::STATUSES.join(',') %>">Status</th>
    <th data-dt-search-input="true">Cur.</th>
    <th style="text-align: right;">Tot. Amount</th>
    <th style="text-align: right;">Paid</th>
    <th style="text-align: right;">Due</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Inv. No.</th>
    <th>Reference</th>
    <th>Company</th>
    <th>Type</th>
    <th>Inv. Date</th>
    <th>Due Date</th>
    <th>Status</th>
    <th>Cur.</th>
    <th style="text-align: right;">Tot. Amount</th>
    <th style="text-align: right;">Paid</th>
    <th style="text-align: right;">Due</th>
  </tr>
  </tfoot>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": "<%= refinery.business_invoices_path(filter_params) %>",
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.business_invoices_path %>") } },
          { data: "invoice_number" },
          { data: "reference" },
          { data: function(row, type, set, meta) { return row.company && row.company.name || null; } },
          { data: "invoice_type" },
          { data: "invoice_date", render: dtDateRenderer },
          { data: "due_date" },
          { data: "status" },
          { data: "currency_code" },
          { data: "total_amount", render: formatCurrency },
          { data: "amount_paid", render: formatCurrency },
          { data: "amount_due", render: formatCurrency }
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell'l><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>"
      });

      initDataTable(dt);
    });
  </script>
<% end %>
