<section>
  <table class="display js_budget_items_data_table" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th>Description</th>
      <th>Styles</th>
      <th>SKU's</th>
      <th>Price $</th>
      <th>Qty per SKU</th>
      <th>Tot. Qty.</th>
      <th>Total $</th>
      <th>Margin %</th>
      <th>Margin $</th>
      <th>Comments</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="11">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>
</section>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>

  <%= javascript_include_tag '//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/1.10.6/api/sum().js' %>
  <%= javascript_include_tag 'refinery/business/budgets' %>

  <script type="text/javascript">
    $(function(){
      var dataTable = Refinery.Business.Budgets.budgetItemsDataTable;

      $('.js_budget_items_data_table').dataTable({
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [],
        "data":           <%= f.object.budget_items_for_list.to_json(methods: [:total, :margin_total, :margin_percent, :total_qty]).html_safe %>,
        "columns": [
          { data: "description",    "render": { "display": dataTable.columns.description }, width: '15%' },
          { data: "no_of_products", "render": { "display": dataTable.columns.noOfProducts } },
          { data: "no_of_skus",     "render": { "display": dataTable.columns.noOfSkus } },
          { data: "price",          "render": { "display": dataTable.columns.price } },
          { data: "quantity",       "render": { "display": dataTable.columns.quantity } },
          { data: "total_qty",      "render": { "display": dataTable.columns.total_qty } },
          { data: "total",          "render": { "display": dataTable.columns.total } },
          { data: "margin_percent", "render": { "display": dataTable.columns.marginPercent } },
          { data: "margin_total",   "render": { "display": dataTable.columns.marginTotal } },
          { data: "comments",       "render": { "display": dataTable.columns.comments }, width: '15%' },
          { data: "id",             "render": { "display": dataTable.columns.id } }
        ],
        "drawCallback": dataTable.callbacks.draw
      }).on('change', '.js_budget_item_field', dataTable.events.formFieldChange)
        .on('click', '.js_budget_item_remove', dataTable.events.removeClick)
        .on('click', '.js_budget_item_undo', dataTable.events.undoClick);
    });
  </script>
<% end %>
