<section>
  <table class="display js_budget_items_data_table" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th>Description</th>
      <th>Styles</th>
      <th>SKU's</th>
      <th>Price $</th>
      <th>Quantity</th>
      <th>Total $</th>
      <th>Margin %</th>
      <th>Margin $</th>
      <th>Comments</th>
      <th>&nbsp;</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="10">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>
</section>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>

  <%= javascript_include_tag '//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/1.10.6/api/sum().js' %>
  <%= javascript_include_tag 'refinery/business/budgets' %>

  <script type="text/javascript">
    $(function(){
      var Budgets = Refinery.Business.Budgets;

//      var formatCurrency = function(data){
//        return parseFloat(data).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
//      };

      var buildFormFunction = function (attr, options){
        if(!options)
          options = {};
        if(!options.formType)
          options.formType = 'text';

        return function(data, type, row, meta) {
          // Setting Row index if undefined
          var $input = $('<input>', { name: 'budget[budget_items_attributes]['+meta.row+']['+attr+']', value: data, type: options.formType || 'text', 'class': 'js_budget_item_'+attr+'_field', 'data-index': meta.row });
          if(options.css)
            $input.css(options.css);

          if(options.suffix){
            var $cont = $('<div class="row collapse"><div class="small-9 columns"></div><div class="small-3 columns"><span class="postfix" style="font-size: 0.6rem;">'+options.suffix+'</span></div></div>');
            $('.small-9', $cont).append($input);
            return $cont.prop('outerHTML');
          } else {
            return $input.prop('outerHTML');
          }
        };
      };

      var dataTable = $('.js_budget_items_data_table').dataTable({
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [],
        "data":           <%= f.object.budget_items_for_list.to_json(methods: [:total, :margin_total, :margin_percent]).html_safe %>,
        "columns": [
          { data: "description", width: '20%', "render": { "display": Budgets.dataTable.columns.description } },
          { data: "no_of_products", "render": { "display": Budgets.dataTable.columns.noOfProducts } },
          { data: "no_of_skus", "render": { "display": Budgets.dataTable.columns.noOfSkus } },
          { data: "price", "render": { "display": Budgets.dataTable.columns.price } },
          { data: "quantity", "render": { "display": Budgets.dataTable.columns.quantity } },
          { data: "total", "render": { "display": Budgets.dataTable.columns.total } },
          { data: "margin_percent", "render": { "display": Budgets.dataTable.columns.marginPercent } },
          { data: "margin_total", "render": { "display": Budgets.dataTable.columns.marginTotal } },
          { data: "comments", width: '15%', "render": { "display": Budgets.dataTable.columns.comments } },
          { data: "id", "render": { "display": Budgets.dataTable.columns.id } }
        ],
        "drawCallback": Budgets.dataTable.callbacks.draw
      }).on('change', '.js_budget_item_field', Budgets.dataTable.events.formFieldChange)
        .on('click', '.js_budget_item_remove', Budgets.dataTable.events.removeClick)
        .on('click', '.js_budget_item_undo', Budgets.dataTable.events.undoClick);
    });
  </script>
<% end %>
