<% content_for :body do %>
  <p><%= link_to 'Add Budget', refinery.new_business_budget_path, class: 'button tiny round' %></p>

  <table class="display js_budgets_data_table" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th>Description</th>
      <th>Customer</th>
      <th>Year</th>
      <th>Quarter</th>
      <th>Styles</th>
      <th>SKU's</th>
      <th>Price $</th>
      <th>Qty per SKU</th>
      <th>Tot Qty</th>
      <th>Total $</th>
      <th>Margin %</th>
      <th>Margin $</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td colspan="12">Loading, please wait...</td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>
  </table>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>

  <%= javascript_include_tag '//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/1.10.6/api/sum().js' %>
  <%= javascript_include_tag 'refinery/business/budgets' %>

  <script type="text/javascript">
    $(function(){
      var dataTable = Refinery.Business.Budgets.budgetDataTable;

      $('.js_budgets_data_table').dataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [[ 0, "asc" ]],
        "data":           <%= @budgets.to_json(methods: [:year, :quarter, :total, :margin_total, :margin_percent]).html_safe %>,
        "columns": [
          { data: "description",      "render": { "display": dataTable.columns.description }, width: '12%' },
          { data: "customer_name",    "render": { "display": dataTable.columns.customerName }, width: '12%' },
          { data: "year" },
          { data: "quarter" },
          { data: "no_of_products",   "render": { "display": dataTable.columns.no_of_products } },
          { data: "no_of_skus",       "render": { "display": dataTable.columns.no_of_skus } },
          { data: "price",            "render": { "display": dataTable.columns.price } },
          { data: "quantity",         "render": { "display": dataTable.columns.quantity } },
          { data: "quantity",         "render": { "display": dataTable.columns.total_quantity } },
          { data: "total",            "render": { "display": dataTable.columns.total } },
          { data: "margin_percent",   "render": { "display": dataTable.columns.marginPercent } },
          { data: "margin_total",     "render": { "display": dataTable.columns.marginTotal } }
        ],
        "drawCallback": dataTable.callbacks.draw
      });
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
