<% content_for :body do %>
  <h1>Contacts</h1>

  <table class="display js_contacts_data_table" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th>Name</th>
      <th>Organisation</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Name</th>
      <th>Organisation</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="5">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag '//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/f2c75b7247b/api/fnSetFilteringDelay.js' %>

  <script type="text/javascript">
    $(function(){
      $('.js_contacts_data_table').dataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,
        "data":           <%= @contacts.to_json(only: [:id, :name, :is_organisation, :organisation_name, :organisation_id, :email, :phone, :mobile, :country]).html_safe %>,
        "columns": [
          { data: "name", "render": function(data, type, row){ return ('<a href="<%= refinery.marketing_contact_path('%%contact_id%%') %>">'+data+'</a>').replace('%%contact_id%%', row.id); } },
          { data: "is_organisation", "render": function(data, type, row) {
            if(data){
              return row.name;
            }else{
              if(row.organisation){
                return ('<a href="<%= refinery.marketing_contact_path('%%contact_id%%') %>">'+row.organisation_name+'</a>').replace('%%contact_id%%', row.organisation_id);
              }else{
                return row.organisation_name;
              }
            }
          } },
          { data: "email" },
          { data: "phone", "render": function(data, type, row){
            if(typeof data == 'undefined' || data === null || data == ''){
              return row.mobile;
            }else{
              return data;
            }
          } },
          { data: "country" }
        ]
      }).fnSetFilteringDelay();
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
