<% content_for :body do %>
  <%- page_content = @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) if Refinery::Pages.default_parts.any? -%>
  <% if page_content.present? %>
    <section class="page-section section-<%= Refinery::Pages.default_parts.first[:slug] %>">
      <%=raw page_content %>
    </section>
  <% end %>

  <% if @posts.any? %>
    <section id="blog_posts" class="page-section">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>
<% end %>

<%= render "/refinery/public_content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>