<% content_for :meta do %>
  <%= raw %(<meta property="twitter:card" content="summary">) -%>
  <%= raw %(<meta property="og:title" content="#{@post.title}">) -%>
  <%= raw %(<meta property="og:description" content="Offering tour packages for individuals or groups.">) -%>
  <% if (image = @post.images.first).present? %>
    <%= raw %(<meta property="og:image" content="#{image.image.thumb('1200x630#c').url(host: WWWSubdomain.host)}">) -%>
    <%= raw %(<meta property="twitter:image" content="#{image.image.thumb('280x150#c').url(host: WWWSubdomain.host)}">) -%>
  <% end %>
  <%= raw %(<meta property="og:url" content="#{refinery.blog_post_url(@post)}">) -%>
<% end %>

<% content_for :body do %>
  <div id="show_blog_post">
    <%= render 'post' %>
  </div>
<% end %>

<%= render '/refinery/blog/shared/body_content_right' %>

<%= render "/refinery/public_content_page", :remove_automatic_sections => true %>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
<% content_for :javascripts do %>
  <%# enable AJAX'd post nav at your own risk until html5 history API implemented. %>
  <%#= javascript_include_tag('refinery/blog/frontend') %>
  <script src="http://w.sharethis.com/button/buttons.js"></script>
  <script>stLight.options({publisher:'<%= Refinery::Blog.share_this_key %>'});</script>
<% end if Refinery::Blog::Post::ShareThis.enabled? %>
