<table id="<%= table_id %>" class="display" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>From</th>
    <th>To</th>
    <th>Courier</th>
    <th>Tracking No.</th>
    <th>Status</th>
    <th>Shipping Date</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th>&nbsp;</th>
    <th>From</th>
    <th>To</th>
    <th>Courier</th>
    <th>Tracking No.</th>
    <th>Status</th>
    <th>Shipping Date</th>
  </tr>
  </tfoot>

  <tbody>
  <tr>
    <td colspan="7">Loading data. Please wait...</td>
  </tr>
  </tbody>
</table>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>

  <%= javascript_include_tag '//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>

  <script type="text/javascript">
    $(function(){
      $('#<%= table_id %>').dataTable({
        "paging":         true,
        "order":          [[ 6, "desc" ]],
        "ajax": "<%= refinery.shipping_shipments_path(filter_params) %>",
        "columns": [
          { data: "id", "width": 60, "render": function(data, type, row){ return ('<a href="<%= refinery.shipping_shipments_path %>/'+data+'">View</a>'); } },
          { data: "from_contact_name" },
          { data: "to_contact_name" },
          { data: "courier", "width": 150 },
          { data: "tracking_number", "width": 150 },
          { data: "display_status", "width": 150 },
          { data: "shipping_date", "width": 150, "render": { "sort": function(data, type, row){ if(data){ return data; }else{ return new Date('2099-01-01') } } } }
        ]
      });
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
