<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th data-dt-search-input="true">Code</th>
    <th data-dt-search-input="true">From</th>
    <th data-dt-search-input="true">To</th>
    <th data-dt-search-input="true">Tracking No.</th>
    <th>Mode</th>
    <th>Status</th>
    <th>ETD</th>
    <th>ETA</th>
    <th>Terms</th>
    <th data-dt-search-input="true">Courier / Forwarder</th>
    <th>Archived At</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th>&nbsp;</th>
    <th>Code</th>
    <th>From</th>
    <th>To</th>
    <th>Tracking No.</th>
    <th>Mode</th>
    <th>Status</th>
    <th>ETD</th>
    <th>ETA</th>
    <th>Terms</th>
    <th>Courier / Forwarder</th>
    <th>Archived At</th>
  </tr>
  </tfoot>

  <tbody>
  <tr>
    <td colspan="12">Loading data. Please wait...</td>
  </tr>
  </tbody>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function(){
      var ajaxStatus = { active: true, archived: false };

      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "order":          [[ 1, "desc" ]],
        "ajax": {
          "url": "<%= refinery.shipping_shipments_path %>",
          "data": function(d) {
            Object.assign(d, ajaxStatus, JSON.parse($('meta[name=filter-params]').attr('content')));
          }
        },
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.shipping_shipments_path %>") } },
          { data: "code" },
          { data: "from_contact_label" },
          { data: "to_contact_label" },
          { data: "tracking_number" },
          { data: "mode" },
          { data: "display_status" },
          { data: "etd_date", render: dtDateRenderer },
          { data: "eta_date", render: dtDateRenderer },
          { data: "shipment_terms" },
          { data: "courier_forwarder_company_label" },
          { data: "archived_at" }
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell extra-toolbar'l><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>"
      });

      initDataTable(dt, ajaxStatus);
    });
  </script>
<% end %>
