<% content_for :body do %>
  <%= render 'toolbar', shipment: @shipment %>

  <section class="contact-card">
    <h1 class="cc-attribute cc-name">
      <%=raw @shipment.code %>
    </h1>

    <div class="grid-x grid-padding-x">
      <div class="medium-8 cell">
        <% if @shipment.shipped_by_courier? %>
          <%= render 'courier_shipment', shipment: @shipment %>
        <% else %>
          <%= render 'forwarder_shipment', shipment: @shipment %>
        <% end %>
      </div>

      <div class="medium-4 cell">
        <%= render 'overview', shipment: @shipment %>
      </div>
    </div>
  </section>
<% end %>

<%= render '/refinery/content_page' %>
