<p><%= link_to 'Add Expense Claim', main_app.new_expense_claim_path, class: 'button round' %></p>

<h2>Non-Submitted Expense Claims</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th>Updated At</th>
    <th>Payment Due Date</th>
    <th>Amount Paid</th>
    <th>Amount Due</th>
    <th>Total</th>
  </tr>
  <% if (expense_claims = current_refinery_user.expense_claims.not_submitted).any? %>
    <% expense_claims.each do |expense_claim| %>

      <tr>
        <td><%= link_to expense_claim.description, main_app.expense_claim_path(expense_claim) %></td>
        <td><%= expense_claim.status %></td>
        <td><%= expense_claim.updated_at.strftime('%-d %b, %Y') %></td>
        <td><%= expense_claim.payment_due_date %></td>
        <td><%= expense_claim.amount_paid %></td>
        <td><%= expense_claim.amount_due %></td>
        <td><%= expense_claim.total %></td>
      </tr>

    <% end %>
  <% else %>
    <tr>
      <td colspan="6" class="italic">You have no Expense Claims registered.</td>
    </tr>
  <% end %>
</table>



<h2>Submitted Expense Claims</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
    <th>Updated At</th>
    <th>Payment Due Date</th>
    <th>Amount Paid</th>
    <th>Amount Due</th>
    <th>Total</th>
  </tr>
  <% if (expense_claims = current_refinery_user.expense_claims.submitted).any? %>
    <% expense_claims.each do |expense_claim| %>

      <tr>
        <td><%= link_to expense_claim.description, main_app.expense_claim_path(expense_claim) %></td>
        <td><%= expense_claim.status %></td>
        <td><%= expense_claim.updated_date_utc.strftime('%-d %b, %Y') %></td>
        <td><%= expense_claim.payment_due_date %></td>
        <td><%= expense_claim.amount_paid %></td>
        <td><%= expense_claim.amount_due %></td>
        <td><%= expense_claim.total %></td>
      </tr>

    <% end %>
  <% else %>
    <tr>
      <td colspan="6" class="italic">You have no Expense Claims registered.</td>
    </tr>
  <% end %>
</table>
