<div class="row">
  <div class="medium-8 columns">

    <!-- Main Content -->
    <% if @page.images.any? %>
      <section class="page-part">
        <div class="page-part-header">
          HIGHLIGHTS
        </div>
        <ul class="home-orbit" data-orbit data-options="pause_on_hover: false; slide_number: false">
          <% @page.images.each_with_index do |image, image_i| %>
            <li>
              <%= image_tag(image.thumbnail(geometry: '637x300^').url) %>
              <div class="orbit-caption">
                <%=raw @page.caption_for_image_index(image_i) %>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>


    <div class="row">
      <div class="medium-6 columns">

        <section class="page-part">
          <div class="page-part-header">
            NEWS
          </div>

          <% @items = Refinery::News::Item.latest(2) %>
          <% if @items.any? %>
            <ul class="latest-news">
              <% @items.each do |item| %>
                <li>
                  <h5>
                    <%= link_to item.title, refinery.news_item_path(item) %><br/>
                    <small><%= item.publish_date.strftime('%d %b - %I:%M %P') %></small>
                  </h5>
                  <%- truncated_body = truncate  Nokogiri::HTML(item.body).inner_text, length: 200, escape: false,
                                                omission: "... #{link_to 'Read More', refinery.news_item_path(item)}" -%>
                  <%= truncated_body.split("\r\n").map { |p| "<p>#{p}</p>" }.join.html_safe %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="italic">No News Items</p>
          <% end %>

        </section>

      </div>
      <div class="medium-6 columns">

        <% if (events = Refinery::Calendar::Event.today.for_calendar_functions(
          Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
          *Refinery::Employees::PublicHoliday.all_calendar_functions
        ).limit(5)).any? %>
          <section class="page-part">
            <div class="page-part-header">
              TODAY IN CALENDAR
            </div>
            <ul class="events">
              <% events.each do |event| %>
                <li>
                  <%= render 'refinery/partials/home_event', event: event %>
                </li>
              <% end %>
            </ul>
          </section>
        <% end %>

        <section class="page-part">
          <div class="page-part-header">
            UPCOMING IN CALENDAR
          </div>

          <% if (events = Refinery::Calendar::Event.after_today.for_calendar_functions(
            Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
            *Refinery::Employees::PublicHoliday.all_calendar_functions
          ).limit(5)).any? %>
            <ul class="events">
              <% events.each do |event| %>
                <li>
                  <%= render 'refinery/partials/home_event', event: event %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="italic">No Upcoming Events</p>
          <% end %>
        </section>

      </div>
    </div>


  </div>
  <div class="medium-4 columns">

    <!-- Right Side Column -->
    <% if current_authentication_devise_user.assigned_parcels.unsigned.any? %>
      <section class="page-part">
        <div class="page-part-header">
          NOTIFICATIONS
        </div>

        <p><%= link_to 'You have unsigned Parcels waiting!', refinery.parcels_parcels_path %></p>
      </section>
    <% end %>

    <% if (employees = Refinery::Employees::Employee.current.upcoming_birthdays).any? %>
      <section class="page-part">
        <div class="page-part-header">
          BIRTHDAYS
        </div>
        <% employees.each do |employee| %>
          <p>
            <%= link_to employee.full_name, refinery.employees_employee_path(employee) %>
            <% if employee.next_birthday == Date.today %>
              <i class="fa fa-birthday-cake" style="color: #ff755f;"></i> Today
            <% else %>
              in <%= (employee.next_birthday - Date.today).to_i %> day(s)
            <% end %>
          </p>
        <% end %>
      </section>
    <% end %>

    <% if (calendar = ::Refinery::Calendar::Calendar.find_by_function(HooksController::CALENDAR_FUNCTION)).present? and (events = calendar.events.today).any? %>
      <section class="page-part">
        <div class="page-part-header">
          TODAY'S INSPECTIONS
        </div>
        <% events.each do |event| %>
          <div title="<%= event.description %>" style="border-bottom: 1px solid #ccc;">
            <h5 style="margin-bottom: 0;">
              <i class="fa fa-user"></i>
              <%= event.title.split(':').first %>
              <span data-tooltip aria-haspopup="true" class="has-tip" title="<%= event.description %>">
                <%= event.title.split(':').last %>
              </span>
            </h5>
            <p>
              <i class="fa fa-industry"></i>
              <%= event.excerpt.split('@').last %>
            </p>
          </div>
        <% end %>

        <p><%= link_to 'Go to Calendar', refinery.calendar_events_path %></p>
      </section>
    <% end %>

    <% if (employee = Refinery::Employees::Employee.current.random.first).present? %>
      <section class="page-part">
        <div class="page-part-header">
          EMPLOYEE FOCUS
        </div>
        <%= render '/refinery/employees/employees/preview', employee: employee %>
      </section>
    <% end %>

    <section class="page-part">
      <div class="page-part-header">
        TWITTER
      </div>
      <a class="twitter-timeline" data-height="600" href="https://twitter.com/happyrabbitltd?ref_src=twsrc%5Etfw">Tweets by happyrabbitltd</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

  </div>
</div>
