<% content_for :side_body do %>
  <% if current_refinery_user.has_role?('Employees:Employee') %>
    <% if (events = Refinery::Calendar::Event.today.for_calendar_functions(
      Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
      *Refinery::Employees::PublicHoliday.all_calendar_functions
    ).limit(5)).any? %>
      <section class="page-part">
        <div class="page-part-header">
          TODAY IN CALENDAR
        </div>
        <ul class="events">
          <% events.each do |event| %>
            <li>
              <%= render 'refinery/partials/home_event', event: event %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <section class="page-part">
      <div class="page-part-header">
        UPCOMING IN CALENDAR
      </div>

      <% if (events = Refinery::Calendar::Event.after_today.for_calendar_functions(
        Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
        *Refinery::Employees::PublicHoliday.all_calendar_functions
      ).limit(5)).any? %>
        <ul class="events">
          <% events.each do |event| %>
            <li>
              <%= render 'refinery/partials/home_event', event: event %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="italic">No Upcoming Events</p>
      <% end %>
    </section>

  <% elsif current_refinery_user.has_role?(Refinery::Business::ROLE_EXTERNAL) %>

    <% if current_refinery_user.companies.count == 1 %>
      <div class="widget">
        <header>
          Requests
        </header>

        <div class="widget-body">
          <% if (requests = current_refinery_user.companies.first.requests.recent).any? %>
            <% requests.each do |request| %>
              <div class="widget-item">
                <span class="widget-item-trail"><%= request.request_date %></span>
                <%= link_to refinery.business_request_path(request) do -%>
                  <%= request.code %>
                  <span class="widget-type"><%= request.display_request_type %></span>
                <%- end %>
                <div>
                <%= request.subject %>
                </div>
              </div>
            <% end %>
          <% end %>

          <%= link_to 'New Request', refinery.new_business_request_path, class: 'button cta' %>

          <p class="widget-subtext">
            Please send a request here and upload any supporting documents to start a new project with Happy Rabbit.
          </p>
        </div>
      </div>

      <div class="widget">
        <header>
          Credits
        </header>

        <div class="widget-body">
          <% if (credits = current_refinery_user.companies.first.vouchers.active.group(:article_id).count).any? %>
            <% credits.each do |article_id, count| %>
              <div class="widget-item">
                <%=number_with_delimiter count, delimiter: ',' %> <span class="bold"><%= Refinery::Business::Article.find_by_id(article_id)&.name %></span> available
              </div>
            <% end %>
          <% end %>

          <%= link_to 'Purchase Credits', refinery.new_business_purchase_path, class: 'button cta' %>

          <p class="widget-subtext">
            Credits are issued when you don't use the minimum from your plan.
            They can also be purchased separately.
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
