<% content_for :side_body do %>
  <% if current_authentication_devise_user.has_role?('Employees:Employee') %>
    <% if (events = Refinery::Calendar::Event.today.for_calendar_functions(
      Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
      *Refinery::Employees::PublicHoliday.all_calendar_functions
    ).limit(5)).any? %>
      <section class="page-part">
        <div class="page-part-header">
          TODAY IN CALENDAR
        </div>
        <ul class="events">
          <% events.each do |event| %>
            <li>
              <%= render 'refinery/partials/home_event', event: event %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <section class="page-part">
      <div class="page-part-header">
        UPCOMING IN CALENDAR
      </div>

      <% if (events = Refinery::Calendar::Event.after_today.for_calendar_functions(
        Refinery::Employees::LeaveOfAbsence::CALENDAR_FUNCTION,
        *Refinery::Employees::PublicHoliday.all_calendar_functions
      ).limit(5)).any? %>
        <ul class="events">
          <% events.each do |event| %>
            <li>
              <%= render 'refinery/partials/home_event', event: event %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="italic">No Upcoming Events</p>
      <% end %>
    </section>

  <% elsif current_authentication_devise_user.has_role?(Refinery::Business::ROLE_EXTERNAL) %>
    <section class="page-part">
      <div class="page-part-header">
        QUICK LINKS
      </div>

      <ul>
        <li><%= link_to 'Purchase Credits', purchases_path %></li>
        <% if current_authentication_devise_user.has_role?(Refinery::QualityAssurance::ROLE_EXTERNAL) %>
          <li><%= link_to 'View Inspections', refinery.quality_assurance_inspections_path %></li>
          <% end %>
      </ul>
    </section>

    <% if current_authentication_devise_user.companies.count == 1 %>
      <section class="page-part">
        <div class="page-part-header">
          REQUESTS
        </div>

        <p>Please send a request here and upload any supporting documents to start a new project with Happy Rabbit.</p>
        <p><%= link_to 'New Request', refinery.new_business_request_path, class: 'button primary' %></p>
      </section>

      <% if (credits = current_authentication_devise_user.companies.first.vouchers.active.count) > 0 %>
        <section class="page-part">
          <div class="page-part-header">
            CREDITS
          </div>

          <p>You currently have <%= credits %> issued Credits available.</p>
          <p>Click <%= link_to 'here', refinery.business_companies_path %> to view details.</p>
        </section>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
