<div class="row">
  <div class="medium-8 columns">

    <!-- Main Content -->
    <% if @page.images.any? %>
      <section class="page-part">
        <ul class="home-orbit" data-orbit data-options="pause_on_hover: false; slide_number: false">
          <% @page.images.each_with_index do |image, image_i| %>
            <li>
              <%= image_tag(image.thumbnail(geometry: '637x300^').url) %>
              <div class="orbit-caption">
                <%=raw @page.caption_for_image_index(image_i) %>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>


    <div class="row">
      <div class="medium-6 columns">

        <section class="page-part">
          <div class="page-part-header">
            NEWS
          </div>

          <% @items = Refinery::News::Item.latest(2) %>
          <% if @items.any? %>
            <ul class="latest-news">
              <% @items.each do |item| %>
                <li>
                  <h5>
                    <%= link_to item.title, refinery.news_item_path(item) %><br/>
                    <small><%= item.publish_date.strftime('%d %b - %I:%M %P') %></small>
                  </h5>
                  <%= truncate  item.body, length: 200,
                                omission: " ... #{link_to 'Read More', refinery.news_item_path(item)}",
                                preserve_html_tags: true %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="italic">No News Items</p>
          <% end %>

        </section>

      </div>
      <div class="medium-6 columns">

        <section class="page-part">
          <div class="page-part-header">
            UPCOMING EVENTS
          </div>

          <% @events = Refinery::Calendar::Event.upcoming.limit(5) %>
          <% if @events.any? %>
            <ul class="upcoming-events">
              <% @events.each do |event| %>
                <li>
                  <table>
                    <tr>
                      <td class="event-date">
                        <span class="event-day"><%= event.starts_at.strftime('%d') %></span>
                        <span class="event-month"><%= event.starts_at.strftime('%^b') %></span>
                      </td>
                      <td class="event-description">
                        <%= link_to event.title, refinery.calendar_event_path(event) %>
                        <% if event.excerpt.present? %>
                          <div><%= event.excerpt %></div>
                        <% end %>
                      </td>
                    </tr>
                  </table>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="italic">No Upcoming Events</p>
          <% end %>
        </section>

      </div>
    </div>


  </div>
  <div class="medium-4 columns">

    <!-- Right Side Column -->
    <a class="twitter-timeline" href="https://twitter.com/happyrabbitltd" data-widget-id="395005698821455872">Tweets by @happyrabbitltd</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
</div>
