<% content_for :side_body do %>
  <div class="widget">
    <header>
      Requests
    </header>

    <div class="widget-body">
      <% recent_requests.each do |request| %>
        <div class="widget-item">
          <span class="widget-item-trail"><%= request.request_date %></span>
          <%= link_to refinery.business_request_path(request) do -%>
            <%= request.code %>
          <%- end %>
          <div>
          <%= request.subject %>
          </div>
          <% if has_multiple_companies? %>
            <div style="color: #999;">
              <%= request.company_name %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= link_to 'New Request', refinery.new_business_request_path, class: 'button cta' %>

      <p class="widget-subtext">
        Please send a request here and upload any supporting documents to start a new project with Happy Rabbit.
      </p>
    </div>
  </div>

  <% if selected_company.present? %>
    <div class="widget">
      <header>
        Credits
      </header>

      <div class="widget-body">
        <% if (credits = selected_company.vouchers.active.group(:article_id).count).any? %>
          <% credits.each do |article_id, count| %>
            <div class="widget-item">
              <%=number_with_delimiter count, delimiter: ',' %> <span class="bold"><%= Refinery::Business::Article.find_by_id(article_id)&.name %></span> available
            </div>
          <% end %>
        <% end %>

        <%= link_to 'Purchase Credits', refinery.new_business_purchase_path, class: 'button cta' %>

        <p class="widget-subtext">
          Credits are issued when you don't use the minimum from your plan.
          They can also be purchased separately.
        </p>
      </div>
    </div>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
