<%-
  page_images = @page.images.to_a
  resp_img_idx = 0
%>

<% @page.parts.each_with_index do |section, i| %>
  <%-
    background = section.slug[/bg_[a-z]+/]
    offset = section.slug['offset']
    class_name = case background
                 when 'bg_black' then 'black-section'
                 when 'bg_blue' then 'blue-section'
                 when 'bg_grey' then 'grey-section'
                 when 'bg_gold' then 'gold-section'
                 when 'bg_img' then 'bg-img-section'
                 when 'bg_whole' then 'bg-whole-section'
                 else ''
                 end

    foreground = section.slug[/fg_[a-z]+/]
    fg_class_name = case foreground
                    when 'fg_black' then 'black-fg-section'
                    when 'fg_blue' then 'blue-fg-section'
                    when 'fg_grey' then 'grey-fg-section'
                    when 'fg_gold' then 'gold-fg-section'
                    when 'fg_white' then 'white-fg-section'
                    else ''
                    end
  %>
  <section id="section<%= i
           -%>" class="page-section section-<%= section.slug
           -%> <%= section.slug['no_top_padding'] ? 'no-top-padding' : ''
           -%> <%= section.slug['no_bottom_padding'] ? 'no-bottom-padding' : ''
           -%> <%= section.slug['large'] ? 'large-section' : ''
           -%> <%= class_name %> <%= fg_class_name %>"
           <%- if background =~ /bg_img|bg_whole/ && (bg_image = page_images.shift).present? -%>
             style="background-image: url(<%= bg_image.image.url %>);"
           <%- end -%>>

    <% if section.slug['tech_splash'] %>
      <%= render 'refinery/pages/sections/tech_splash', page: @page, section: section %>

    <% elsif section.slug['quality_plans'] %>
      <%= render 'refinery/pages/sections/quality_plans', page: @page, section: section %>

    <% elsif section.slug == 'map_zendesk' %>
      <%= render 'refinery/pages/sections/map_zendesk', page: @page, section: section %>

    <% elsif section.slug['newsletter'] %>
      <%= render 'refinery/pages/sections/newsletter', page: @page, section: section %>

    <% else %>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">

        <% if section.slug['integration_logos'] %>
          <%= render 'refinery/pages/sections/integrations', page: @page, section: section %>

        <% elsif section.slug['client_logos'] %>
          <%= render 'refinery/pages/sections/clients', page: @page, section: section %>

        <% elsif section.slug == 'submenu' %>
          <%= render 'refinery/pages/sections/submenu', page: @page, section: section %>

        <% elsif section.slug[/resp_img/] %>
          <% page_image = page_images.shift %>
          <div class="cell medium-6 small-order-1<% if resp_img_idx.even? %> medium-order-2<% end %>">
            <% if page_image.present? %>
              <%= image_tag page_image.image.url, class: 'resp-img' %>
            <% end %>
          </div>

          <div class="cell medium-6 small-order-2<% if resp_img_idx.even? %> medium-order-1<% end %>">
            <%=raw section.body %>
          </div>
          <%- resp_img_idx += 1 %>

        <% elsif section.slug[/resp_2_img/] %>
          <% page_image = page_images.shift %>
          <div class="cell medium-6">
            <% if page_image.present? %>
              <%= image_tag page_image.image.url, class: 'resp-img' %>
            <% end %>
          </div>

          <% page_image = page_images.shift %>
          <div class="cell medium-6">
            <% if page_image.present? %>
              <%= image_tag page_image.image.url, class: 'resp-img' %>
            <% end %>
          </div>

        <% elsif section.slug[/full_img/] %>
          <% page_image = page_images.shift %>
          <div class="cell">
            <% if page_image.present? %>
              <%= image_tag page_image.image.url, class: 'resp-img' %>
            <% end %>
          </div>

        <% elsif section.slug[/cen_img/] %>
          <% page_image = page_images.shift %>
          <div class="cell medium-6 medium-offset-3 end">
            <% if page_image.present? %>
              <%= image_tag page_image.image.url, class: 'resp-img' %>
            <% end %>
          </div>

        <% elsif section.slug[/manual/] %>
          <%=raw section.body %>

        <% else %>
          <div class="cell">
            <%=raw section.body %>
          </div>
        <% end %>

      </div>
    </div>
    <% end %>
  </section>
<% end %>
