<%- page_images = @page.images.to_a %>
<% @page.parts.each_with_index do |section, i| %>
  <section class="section-<%= section.slug %>">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">

        <% if section.slug == 'integrations' %>
          <div class="cell">
            <%=raw section.body %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_zapier', class: 'logo-zapier' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_dropbox', class: 'logo-dropbox' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_google', class: 'logo-google' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_office_365', class: 'logo-office-365' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_slack', class: 'logo-slack' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center">
            <%= image_tag 'logos/logo_asana', class: 'logo-asana' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center hide-for-medium-only">
            <%= image_tag 'logos/logo_trello', class: 'logo-trello' %>
          </div>

          <div class="cell large-3 medium-4 small-6 text-align-center hide-for-medium-only">
            <%= image_tag 'logos/logo_xero', class: 'logo-xero' %>
          </div>

        <% elsif section.slug == 'submenu' %>
          <div class="cell text-align-center">
            <ul class="vertical dropdown menu" data-responsive-menu="accordion large-dropdown">
              <% @page.children.each do |page| %>
                <li><%= link_to page.title, refinery.url_for(page.url) %></li>
              <% end %>
            </ul>
          </div>

        <% elsif section.slug[/_resp_img$/] %>
          <% page_image = page_images.shift %>
          <div class="cell medium-6 small-order-1<% if i.even? %> medium-order-2<% end %>">
            <% if page_image.present? %>
              <%= image_tag page_image.image.thumb('425x425#').url, class: 'resp-img' %>
            <% end %>
          </div>

          <div class="cell medium-6 small-order-2<% if i.even? %> medium-order-1<% end %>">
            <%=raw section.body %>
          </div>

        <% else %>
          <div class="cell">
            <%=raw section.body %>
          </div>
        <% end %>

      </div>
    </div>
  </section>
<% end %>
