<p>Dear <%= @target.printable_target_name %>,</p>

<p>A payout from Stripe has just been paid, see reference <%= @notifications[0].notifiable&.reference %>.</p>

<p style="margin: 0 0 30px;">
  Best regards<br/>
  The Happy Rabbit Team
</p>

<table style="margin-bottom: 10px;">
  <thead>
  <tr>
    <th>Invoice</th>
    <th>Date</th>
    <th>Customer</th>
    <th>Gross, USD</th>
    <th>Gross, HKD</th>
    <th>Fees, HKD</th>
    <th>Net, HKD</th>
    <th>Xero</th>
  </tr>
  </thead>
  <tbody>
  <%- charges = {} %>
  <%- txns = {} %>
  <% @notifications.each do |notification| %>
    <%- invoice = notification.notifiable %>
    <%-
      charge = nil
      txn = nil
      begin
        charge = charges[invoice.stripe_charge_id]  ||= Stripe::Charge.retrieve invoice.stripe_charge_id if invoice.stripe_charge_id.present?
        txn = txns[charge.balance_transaction]      ||= Stripe::BalanceTransaction.retrieve charge.balance_transaction if charge.present?
      rescue StandardError => e
      end
    %>
    <tr>
      <td><%= link_to invoice.invoice_number, move_notification_url_for(notification, open: true) %></td>
      <td><%= invoice.display_invoice_date %></td>
      <td><%= invoice.company_label %></td>
      <td><%= charge && number_to_currency(charge.amount / 100.0, unit: "#{charge.currency.upcase} ") %></td>
      <td><%=txn && number_to_currency(txn.amount / 100.0,    unit: "#{txn.currency.upcase} ") %></td>
      <td><%=txn && number_to_currency(txn.fee / 100.0,       unit: "#{txn.currency.upcase} ") %></td>
      <td><%=txn && number_to_currency(txn.net / 100.0,       unit: "#{txn.currency.upcase} ") %></td>
      <td><%= link_to 'View in Xero', "https://go.xero.com/AccountsReceivable/View.aspx?InvoiceID=#{invoice.invoice_id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
