<% content_for :body do %>

  <div class="row">
    <div class="medium-3 columns">
      <%= link_to 'Back to All Expense Claims', refinery.employees_expense_claims_path, class: 'button tiny round' %>
    </div>
    <% if @xero_expense_claim.editable? %>
      <% if @xero_expense_claim.submittable_by?(current_authentication_devise_user) %>
        <div class="medium-3 columns">
          <%= form_tag refinery.submit_employees_expense_claim_path(@xero_expense_claim) do %>
            <%= submit_tag 'Submit Expense Claim', class: 'button round tiny js_click_loader', confirm: 'You cannot add additional Receipts after the Claim has been submitted. Continue?' %>
          <% end %>
        </div>
      <% else %>
        <div class="medium-3 columns">
          <%= link_to 'Submit Expense Claim', '#', class: 'button round tiny disabled' %>
        </div>
      <% end %>
      <% if @xero_expense_claim.destroyable_by?(current_authentication_devise_user) %>
        <div class="medium-6 columns">
          <%= form_tag refinery.employees_expense_claim_path(@xero_expense_claim), method: :delete do %>
            <%= submit_tag 'Delete Expense Claim', class: 'button alert tiny', confirm: 'Are you sure you want to delete this Expense Claim?' %>
          <% end %>
        </div>
      <% else %>
        <div class="medium-6 columns">
          <%= link_to 'Delete Expense Claim', '#', class: 'button round tiny disabled' %>
        </div>
      <% end %>
    <% else %>
      <div class="medium-3 columns">
        <%= link_to 'Submitted', '#', class: 'button round tiny disabled' %>
      </div>
      <div class="medium-6 columns">
        <%= link_to 'Cannot Delete a submitted claim', '#', class: 'button alert tiny disabled' %>
      </div>
    <% end %>
  </div>

  <h2>
    <%= @xero_expense_claim.description %>
    <small><%= link_to t('.edit', default: 'Edit'), refinery.edit_employees_expense_claim_path(@xero_expense_claim) %></small>
  </h2>
  <h5>For: <%= @xero_expense_claim.employee.full_name %></h5>
  <div class="p1">&nbsp;</div>

  <div class="row">
    <div class="medium-3 columns">
      <h5>Status</h5>
      <p><%= @xero_expense_claim.status %></p>
      <% if @xero_expense_claim.error_reason.present? %>
        <p style="color: red;"><%= @xero_expense_claim.error_reason %></p>
      <% end %>
    </div>

    <div class="medium-2 columns">
      <h5>Total</h5>
      <p><%= number_to_currency @xero_expense_claim.total, unit: '$HK ' %></p>
    </div>

    <div class="medium-2 columns">
      <h5>Amount Due</h5>
      <p><%= number_to_currency @xero_expense_claim.amount_due, unit: '$HK ' %></p>
    </div>

    <div class="medium-2 columns">
      <h5>Amount Paid</h5>
      <p><%= number_to_currency @xero_expense_claim.amount_paid, unit: '$HK ' %></p>
    </div>

    <div class="medium-3 columns">
      <h5>Payment Due Date</h5>
      <p><%= @xero_expense_claim.payment_due_date %></p>
    </div>
  </div>

  <table class="js_receipts_data_table">
    <thead>
    <tr>
      <th>From</th>
      <th>Receipt Date</th>
      <th>Receipt Registered</th>
      <th>Items</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>From</th>
      <th>Receipt Date</th>
      <th>Receipt Registered</th>
      <th>Items</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="6">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>

  <% if @xero_expense_claim.status == ::Refinery::Employees::XeroExpenseClaim::STATUS_NOT_SUBMITTED %>
    <p><%= link_to 'Add Receipt', refinery.new_employees_expense_claim_receipt_path(@xero_expense_claim), class: 'button tiny' %></p>
  <% end %>

  <h4>Scanned Receipts</h4>
  <% if @xero_expense_claim.xero_expense_claim_attachments.any? %>
    <% @xero_expense_claim.xero_expense_claim_attachments.each do |xero_expense_claim_attachment| %>
      <p><%= link_to "Download #{ xero_expense_claim_attachment.resource.file_name }", xero_expense_claim_attachment.resource.url %>
        <% if @xero_expense_claim.editable? %>
          <%= link_to 'Remove', refinery.destroy_resource_employees_expense_claim_path(@xero_expense_claim, xero_expense_claim_attachment), method: :delete %>
        <% end %>
      </p>
    <% end %>
  <% else %>
    <p class="italic">No Scanned Receipts attached yet.</p>
  <% end %>

  <% if @xero_expense_claim.status == ::Refinery::Employees::XeroExpenseClaim::STATUS_NOT_SUBMITTED %>
    <p><%= link_to 'Add Scanned Receipts', refinery.add_resource_employees_expense_claim_path(@xero_expense_claim), remote: true, class: 'button tiny' %></p>
  <% end %>

<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css' %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag '//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>

  <script type="text/javascript">
    $(function(){
      $('.js_receipts_data_table').dataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [[ 0, "desc" ]],
        "data":           <%= @xero_expense_claim.xero_receipts.to_json(methods: [:no_of_items, :contact_name]).html_safe %>,
        "columns": [
          { data: "contact_name", "render": function(data, type, row){
            if(row.status === 'Not-Submitted'){
              return '<a href="<%= refinery.employees_expense_claim_receipts_path(@xero_expense_claim) %>/'+row.id+'/edit">'+data+'</a>';
            }else{
              return '<a href="<%= refinery.employees_expense_claim_receipts_path(@xero_expense_claim) %>/'+row.id+'">'+data+'</a>';
            }
          } },
          { data: "date", "render": {
            "display": function(data, type, row){
              var d = new Date(data);
              return [d.getDate(), d.getMonth()+1, d.getFullYear()].join('/');
            },
            "sort": function(data, type, row) { return new Date(data); }
          } },
          { data: "created_at", "render": {
            "display": function(data, type, row){
              var d = new Date(data);
              return [d.getDate(), d.getMonth()+1, d.getFullYear()].join('/');
            },
            "sort": function(data, type, row) { return new Date(data); }
          } },
          { data: "no_of_items" },
          { data: "status" },
          { data: "total", "render": {
            "display": function (data, type, row) {
              return "$HK " + parseFloat(data).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
            },
            "sort": function(data, type, row){ return parseFloat(data); }
          } }
        ]
      });
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
