<div class="grid-x grid-padding-x">
  <div class="cell">
    <h2><%= @company.label %></h2>
  </div>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::Business::PAGE_INVOICES_URL) %>
    <div class="cell">
      <h4>Finance</h4>
      <ul>
        <li><%= link_to "See Invoices (#{@company.invoices.count})", refinery.business_invoices_path(company_id: @company) %></li>
        <li><%= link_to "See Billables (#{@company.billables.count})", refinery.business_billables_path(company_id: @company) %></li>
      </ul>
    </div>
  <% end %>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::Business::PAGE_PROJECTS_URL) %>
    <div class="cell">
      <h4>Projects</h4>
      <ul>
        <li><%= link_to "See Projects (#{@company.projects.current.count})", refinery.business_projects_path(company_id: @company) %></li>
      </ul>
    </div>
  <% end %>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::QualityAssurance::PAGE_INSPECTIONS_URL) %>
    <div class="cell">
      <h4>Quality Assurance</h4>
      <ul>
        <li><%= link_to "See Jobs (#{@company.jobs.count})", refinery.quality_assurance_jobs_path(company_id: @company) %></li>
        <li><%= link_to "See Inspections (#{@company.inspections.count})", refinery.quality_assurance_inspections_path(company_id: @company) %></li>
        <li><%= link_to "See Defects Summary", refinery.defects_quality_assurance_inspections_path(company_id: @company) %></li>
      </ul>
    </div>
  <% end %>

  <% if @company.contact.present? %>
    <div class="cell medium-6">
      <section class="contact-card">
        <%= render 'refinery/marketing/contacts/contact_info', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/address', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/courier_details', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/employees', contact: @company.contact %>
      </section>
    </div>
  <% end %>

  <% if page_role? Refinery::Business::ROLE_INTERNAL %>
    <div class="cell medium-6">
      <h5>
        <i class="fa fa-user"></i>
        Users
      </h5>
      <% if @company.users.any? %>
        <% @company.users.each do |user| %>
          <p>
            <%= user.full_name %>
            <span style="color: #999; font-size: 10px;">
              <% if user.last_active_at.nil? %>
                has never signed in
              <% else %>
                last active at <%= time_ago_in_words user.last_active_at %> ago
              <% end %>
            </span>
          </p>
        <% end %>
      <% else %>
        <p class="not_present">There are no users with access to this company</p>
      <% end %>

      <% if current_authentication_devise_user.has_role?(::Refinery::Business::ROLE_INTERNAL_FINANCE) %>
        <section class="contact-card">
          <h3>Xero Contacts</h3>
          <table class="cc-table">
            <tbody>
            <tr>
              <th style="width: 120px;">Happy Rabbit Limited</th>
              <td>
                <% if @company.contact.try(:xero_hr_id).present? %>
                  <%= link_to "https://go.xero.com/Contacts/View/#{@company.contact.xero_hr_id}", target: '_blank' do %>
                    <%= @company.contact.xero_hr_id %> <i class="fa fa-external-link"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Happy Rabbit Trading Limited</th>
              <td>
                <% if @company.contact.try(:xero_hrt_id).present? %>
                  <%= link_to "https://go.xero.com/Contacts/View/#{@company.contact.xero_hrt_id}", target: '_blank' do %>
                    <%= @company.contact.xero_hrt_id %> <i class="fa fa-external-link"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
            </tbody>
          </table>
        </section>
      <% end %>
    </div>
  <% end %>
</div>
