<div class="grid-x grid-padding-x">
  <div class="cell">
    <h2><%= @company.label %></h2>
  </div>

  <% if @company.contact.present? %>
    <div class="cell medium-6">
      <section class="contact-card">
        <%= render 'refinery/marketing/contacts/contact_info', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/address', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/courier_details', contact: @company.contact %>
        <%= render 'refinery/marketing/contacts/employees', contact: @company.contact %>
      </section>
    </div>
  <% end %>

  <% if page_role? Refinery::Business::ROLE_INTERNAL %>
    <div class="cell medium-6">
      <h5>
        <i class="fa fa-user"></i>
        Users
      </h5>
      <% if @company.users.any? %>
        <% @company.users.each do |user| %>
          <p>
            <%= user.full_name %>
            <span style="color: #999; font-size: 10px;">
              <% if user.current_sign_in_at.nil? %>
                has never signed in
              <% else %>
                last signed in <%= time_ago_in_words user.current_sign_in_at %> ago
              <% end %>
            </span>
          </p>
        <% end %>
      <% else %>
        <p class="not_present">There are no users with access to this company</p>
      <% end %>
    </div>

  <% end %>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::Business::PAGE_INVOICES_URL) %>
    <div class="cell">
      <h4>Finance</h4>
      <p><%= link_to "See Company Invoices (#{@company.invoices.count})", refinery.business_invoices_path(company_id: @company) %></p>
    </div>
  <% end %>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::Business::PAGE_PROJECTS_URL) %>
    <div class="cell">
      <h4>Projects</h4>
      <p><%= link_to "See Company Projects (#{@company.projects.count})", refinery.business_projects_path(company_id: @company) %></p>
    </div>
  <% end %>

  <% if current_authentication_devise_user.authorized_for_page?(::Refinery::QualityAssurance::PAGE_INSPECTIONS_URL) %>
    <div class="cell">
      <h4>Finance</h4>
      <p><%= link_to "See Company Inspections (#{@company.inspections.count})", refinery.quality_assurance_inspections_path(company_id: @company) %></p>
    </div>
  <% end %>
</div>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'charts' %>

  <script type="text/javascript">
    $(function(){

    });
  </script>
<% end %>
