<% content_for :body do %>

  <h1>My Profile</h1>

  <%= form_for current_refinery_user, url: my_profile_path do |f| %>

    <div class='field'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>

    <h2>User Settings</h2>
    <%- user_setting = current_refinery_user.user_settings.detect { |us| us.identifier == 'leave_notification' } || current_refinery_user.user_settings.build(identifier: 'sick_leave_notification', content: { 'receive_for' => 'all' }) -%>
    <%= f.fields_for :user_settings, user_setting, child_index: '0' do |us_form| %>
      <%= us_form.hidden_field :identifier %>

      <%= render 'refinery/admin/users/user_settings_leave_notification', f: us_form, user_setting: user_setting, user: current_refinery_user %>

    <% end %>

    <%= f.submit 'Save Changes' %>

  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
