<% content_for :body do %>

  <h1>My Profile</h1>

  <%= form_for current_authentication_devise_user, url: my_profile_path do |f| %>

    <div class='field'>
      <%= f.label :full_name %>
      <%= f.text_field :full_name %>
    </div>

    <%= f.submit 'Save Changes' %>

  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
