<% content_for :body do %>
  <%- page_content = @page.content_for(Refinery::Pages.default_parts.first[:slug].to_sym) if Refinery::Pages.default_parts.any? -%>
  <% if page_content.present? %>
    <section class="page-section no-bottom-padding section-<%= Refinery::Pages.default_parts.first[:slug] %>">
      <%=raw page_content %>
    </section>
  <% end %>

  <% if @items.any? %>
    <section id="blog_posts" class="page-section">
      <%= render :partial => "/refinery/news/shared/item", :collection => @items %>
      <%= will_paginate @items %>
    </section>
  <% end %>
<% end %>

<%= render "/refinery/public_content_page" %>
