<div class="row">
  <div class="medium-8 columns">
    <%=raw @page.content_for(:body) unless params[:page] %>

    <% if @items.any? %>
      <% @items.each do |item| %>
        <article class="news_item_truncated">
          <h4><%= link_to item.title, refinery.news_item_path(item) %></h4>
          <p>
            <small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small>
          </p>
          <%- truncated_body = truncate  Nokogiri::HTML(item.body).inner_text, length: 400,
                                         omission: "... #{link_to 'Read More', refinery.news_item_path(item)}" -%>
          <%= truncated_body.split("\r\n").map { |p| "<p>#{p}</p>" }.join.html_safe %>
        </article>
      <% end %>

      <%= will_paginate @items %>
    <% else %>
      <p><em><%= t('.no_items_yet') %></em></p>
    <% end %>
  </div>

  <div class="medium-4 columns">
    <%= raw @page.content_for(:side_body) %>

    <%= render '/refinery/news/shared/body_content_right' %>
  </div>
</div>
