<table>
  <tbody>
  <tr>
    <td>
      <table>
        <tbody>
        <tr>
          <th style="width: 100px;">Result</th>
          <td style="font-weight: bold;">
            <% if inspection.pass? %>
              <span style="color: green;">Pass</span>
            <% elsif inspection.reject? %>
              <span style="color: red;">Reject</span>
            <% else %>
              <%= inspection.result %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Comment</th>
          <td><%= inspection.summary_comment %></td>
        </tr>
        <tr>
          <th>Inspection Date</th>
          <td><%= inspection.display_inspection_date %></td>
        </tr>
        <tr>
          <th>Customer</th>
          <td><%= inspection.company_label %></td>
        </tr>
        <% if false && inspection.brand_label.present? %>
        <tr>
          <th>Brand</th>
          <td><%= inspection.brand_label %></td>
        </tr>
        <% end %>
        <tr>
          <th>Supplier</th>
          <td><%= inspection.supplier_label %></td>
        </tr>
        <tr>
          <th>Manufacturer</th>
          <td><%= inspection.manufacturer_label %></td>
        </tr>
        <tr>
          <th>PO#</th>
          <td><%=format_joined_items inspection.po_number %></td>
        </tr>
        <tr>
          <th>Order Type</th>
          <td><%= inspection.po_type %></td>
        </tr>
        <tr>
          <th>Style</th>
          <td><%= inspection.product_code %> <%= inspection.product_description %></td>
        </tr>
        <tr>
          <th>Variants</th>
          <td><%=format_joined_items inspection.product_colour_variants %></td>
        </tr>
        <tr>
          <th>Inspection Type</th>
          <td><%= inspection.inspection_type %></td>
        </tr>
        <tr>
          <th>Inspected By</th>
          <td><%= inspection.inspected_by_name %></td>
        </tr>
        <tr>
          <th>Order Qty</th>
          <td><%= number_with_delimiter inspection.po_qty %></td>
        </tr>
        <tr>
          <th>Available Qty</th>
          <td><%= number_with_delimiter inspection.available_qty %></td>
        </tr>
        <tr>
          <th>Sample Size</th>
          <td><%= number_with_delimiter inspection.inspection_sample_size %></td>
        </tr>
        </tbody>
      </table>
    </td>
    <% if inspection.inspection_photo %>
      <td style="width: 190px;">
        <%= dragonfly_image_tag inspection.inspection_photo.image.image %>
      </td>
    <% end %>
  </tr>
  </tbody>
</table>

<div style="margin: 20px 0;">
  <table>
    <tbody>
    <tr>
      <td style="width: 100px;">Total Critical</td>
      <td style="width: 50px; text-align: center;"><%= inspection.total_critical %></td>
      <td style="width: 50px;">&nbsp;</td>
      <td style="width: 100px;">Accepted Critical</td>
      <td style="width: 50px; text-align: center;"><%= inspection.acc_critical %></td>
      <td style="width: 50px;">&nbsp;</td>
    </tr>
    <tr>
      <td>Total Major</td>
      <td style="text-align: center;"><%= inspection.total_major %></td>
      <td>&nbsp;</td>
      <td>Accepted Major</td>
      <td style="text-align: center;"><%= inspection.acc_major %></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Total Minor</td>
      <td style="text-align: center;"><%= inspection.total_minor %></td>
      <td>&nbsp;</td>
      <td>Accepted Minor</td>
      <td style="text-align: center;"><%= inspection.acc_minor %></td>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>
