<table>
  <tbody>
  <tr>
    <th><%= invice.receipt? ? 'Receipt No.' : 'Invoice No.' %></th>
    <td><%= invoice.invoice_number %></td>
  </tr>
  <tr>
    <th>Buyer</th>
    <td><%= invoice.company_name %></td>
  </tr>
  <tr>
    <th>Reference</th>
    <td><%= invoice.reference %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= invoice.display_invoice_date %></td>
  </tr>
  <tr>
    <th>Due Date</th>
    <td><%= invoice.display_due_date %></td>
  </tr>
  <tr>
    <th>Total Amount</th>
    <td><%=number_to_currency invoice.total_amount, unit: "#{invoice.currency_code} " %></td>
  </tr>
  </tbody>
</table>
