<% content_for :head do %>
  <style type="text/css">
    /* line 31, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress {
      box-sizing: border-box;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-right: 6px;
    }
    /* line 40, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table {
      margin: 0px;
      border-collapse: collapse;
    }
    /* line 51, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container {
      margin: 0px;
    }
    /* line 56, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route {
      padding-top: 6px !important;
      border-collapse: collapse;
      background-color: #f00;
    }
    /* line 60, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .checkpoint, .shipment-progress .routes-table .route-container .route .in-transit {
      background-color: #FAF8F7;
      width: 1rem;
    }
    /* line 68, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .checkpoint .fa, .shipment-progress .routes-table .route-container .route .in-transit .fa {
      color: #a4a2ae;
      display: inline-block !important;
      border-bottom: none;
    }
    /* line 73, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .checkpoint .fa.arrived, .shipment-progress .routes-table .route-container .route .in-transit .fa.arrived {
      color: #cc9418;
    }
    /* line 77, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .checkpoint .fa.departed, .shipment-progress .routes-table .route-container .route .in-transit .fa.departed {
      color: #48A9A6;
    }
    /* line 83, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .in-transit {

    }
    /* line 85, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .in-transit .fa {
      color: #cc9418;
    }
    /* line 90, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .transport {
      background-color: #a4a2ae;
      padding-top: 3px !important;
      width: 100% !important;
    }
    /* line 93, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .transport.departed {
      background-color: #cc9418;
    }
    /* line 97, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes-table .route-container .route .transport.arrived {
      background-color: #48A9A6;
    }
    /* line 116, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .dest-container {
      background-color: #FAF8F7;
      padding-left: 6px !important;
      right: 0px !important;
      top: 0px !important;
    }
    /* line 119, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .dest-container .dest-inner {
      margin-top: -7px !important;
    }
    /* line 122, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .dest-container .dest-inner .icon-cont {
      width: 12px;
      height: 12px;
      display: inline-block !important;
      position: relative !important;
    }
    /* line 129, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .dest-container .dest-inner .icon-cont .icon {
      color: #a4a2ae;
      width: unset;
      height: unset;
      bottom: -0.5em !important;
      left: 0px !important;
      border-bottom: none;
    }
    /* line 132, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .dest-container .dest-inner .icon-cont .icon.arrived {
      color: #48A9A6;
    }
  </style>
<% end %>

<div class="shipment-progress">
  <table class="routes-table">
    <tbody>
    <tr>
      <%= render 'shipment_checkpoint', shipment: shipment, route: shipment.route_origin, next_route: shipment.mode == 'Air' || shipment.mode == 'Sea' ? shipment.route_port_of_loading : shipment.route_destination %>

      <% if shipment.mode == 'Air' || shipment.mode == 'Sea' %>
        <%= render 'shipment_checkpoint', shipment: shipment, route: shipment.route_port_of_loading, next_route: shipment.route_port_of_discharge %>

        <%= render 'shipment_checkpoint', shipment: shipment, route: shipment.route_port_of_discharge, next_route: shipment.route_destination %>
      <% end %>

      <td class="dest-container">
        <div class="dest-inner">
          <div class="icon-cont">
            <% if shipment.route_destination.present? %>
              <i class="fa fa-home icon <%= shipment.route_destination.has_arrived? ? 'arrived' : '' %>" data-tooltip title="<%= shipment.route_destination.location_label %>"></i>
            <% else %>
              <i class="fa fa-home icon"></i>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
