<td class="route-container">
  <div class="route" style="position: relative !important;">
    <% if next_route.has_completed? %>
      <div class="transport arrived"></div>
    <% elsif route.has_completed? %>
      <div class="transport departed"></div>
    <% else %>
      <div class="transport"></div>
    <% end %>

    <div class="checkpoint" style="position: absolute !important;">
      <% if route.persisted? %>
        <% if route.has_completed? %>
          <%= asset_image_tag 'fa/fa_check_circle.png', class: 'fa departed' %>
        <% else %>
          <%= asset_image_tag 'fa/fa_circle_o.png', class: 'fa' %>
        <% end %>
      <% else %>
        <%= asset_image_tag 'fa/fa_question.png', class: 'fa' %>
      <% end %>
    </div>

    <% if route.has_completed? && !next_route.has_completed? %>
      <div class="in-transit" style="position: absolute !important;">
        <% if (route.route_origin? && next_route.route_destination?) || (route.route_port_of_loading? && next_route.route_port_of_discharge?) %>
          <% if shipment.mode == 'Air' %>
            <%= asset_image_tag 'fa/fa_plane.png', class: 'fa' %>
          <% elsif shipment.mode == 'Rail' %>
            <%= asset_image_tag 'fa/fa_train.png', class: 'fa' %>
          <% elsif shipment.mode == 'Road' %>
            <%= asset_image_tag 'fa/fa_truck.png', class: 'fa' %>
          <% elsif shipment.mode == 'Sea' %>
            <%= asset_image_tag 'fa/fa_ship.png', class: 'fa' %>
          <% else %>
            <%= asset_image_tag 'fa/fa_truck.png', class: 'fa' %>
          <% end %>
        <% else %>
          <%= asset_image_tag 'fa/fa_truck.png', class: 'fa' %>
        <% end %>
      </div>
    <% end %>
  </div>
</td>
