<h1>An error occoured on the Intranet</h1>
<p>
  The error message is:<br />
  <%= @error.message %><br />
  <%= @error.record.inspect if @error.respond_to? :record %>
</p>
<p>
  Backtrace:<br />
  <% @error.backtrace.each do |line| %>
    <%= line %>
  <% end %>
</p>

<% if @additional.any? %>
  <h4>Additional</h4>
  <% @additional.each do |e| %>
    <p>
      <%= e.message %><br />
      <%= e.record.inspect if e.respond_to? :record %>
    </p>
  <% end %>
<% end %>
