<% content_for :body do %>

  <%= render 'form', leave_of_absence: ::Refinery::Employees::LeaveOfAbsence.new %>

  <h4 class="t2">Registered Annual Leave</h4>

  <table class="display js_annual_leaves_data_table" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Type of Absence</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>

    <tfoot>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Type of Absence</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </tfoot>

    <tbody>
    <tr>
      <td colspan="5">Loading, please wait...</td>
    </tr>
    </tbody>
  </table>


  <% if @employee.employees.any? %>
    <h4 class="t2">Your Employee's Leave of Absence</h4>

    <table class="display js_employees_annual_leaves_data_table" cellspacing="0" style="width: 100%;">
      <thead>
      <tr>
        <th>Employee</th>
        <th>Start</th>
        <th>End</th>
        <th>Type of Absence</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>

      <tfoot>
      <tr>
        <th>Employee</th>
        <th>Start</th>
        <th>End</th>
        <th>Type of Absence</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td colspan="6">Loading, please wait...</td>
      </tr>
      </tbody>
    </table>
  <% end %>


<% end %>


<% content_for :side_body do %>

<% end %>


<% content_for :stylesheets do %>
  <%= stylesheet_link_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.css' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag '//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js' %>
  <%= javascript_include_tag '//cdn.datatables.net/plug-ins/a5734b29083/integration/foundation/dataTables.foundation.js' %>

  <script type="text/javascript">
    $(function(){
      $('.js_annual_leaves_data_table').dataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [[ 0, "desc" ]],
        "data":           <%= @leave_of_absences.to_json(only: [:id, :start_date, :end_date, :status], methods: [:display_type_of_absence, :display_status]).html_safe %>,
        "columns": [
          { data: "start_date" },
          { data: "end_date" },
          { data: "display_type_of_absence" },
          { data: "display_status" },
          { data: "id", "render": function(data, type, row){
            if (row.status == <%= ::Refinery::Employees::LeaveOfAbsence::STATUS_WAITING_FOR_APPROVAL %>){
              return '<a href="/employees/annual_leaves/'+data+'/edit">Edit</a>, <a href="/employees/annual_leaves/'+data+'" data-method="delete">Remove</a>';
            } else {
              return '<span style="font-style: italic; color: #999;">Cannot edit</span>';
            }
          } }
        ]
      });

      <% if @employee.employees.any? %>
      var token = $('meta[name=csrf-token]').attr('content');
      $('.js_employees_annual_leaves_data_table').dataTable({
        "scrollY":        "600px",
        "scrollCollapse": true,
        "paging":         false,
        "order":          [[ 0, "desc" ]],
        "data":           <%= @employee_loas.to_json(only: [:id, :start_date, :end_date, :status], methods: [:display_employee, :display_type_of_absence, :display_status]).html_safe %>,
        "columns": [
          { data: "display_employee" },
          { data: "start_date" },
          { data: "end_date" },
          { data: "display_type_of_absence" },
          { data: "display_status" },
          { data: "id", "render": function(data, type, row){
            if (row.status === <%= ::Refinery::Employees::LeaveOfAbsence::STATUS_WAITING_FOR_APPROVAL %>) {
              return '<span style="float:left; margin-right: 5px;"><form action="/employees/annual_leaves/'+data+'/approve" method="post"><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="'+token+'" /><a href="#" onClick="this.parentNode.submit();">Approve</a></form></span>'+
                     '<span style="float: left;"><form action="/employees/annual_leaves/'+data+'/reject" method="post"><input type="hidden" name="_method" value="put" /><input type="hidden" name="authenticity_token" value="'+token+'" /><a href="#" onClick="this.parentNode.submit();">Reject</a></form></span>';
            } else {
              return '';
            }
          } }
        ]
      });
      <% end %>
    });
  </script>
<% end %>

<%= render '/refinery/content_page' %>
