<h2>Request for weekly WIP status update</h2>

<p>
  Please review the attached WIP file and update the information if necessary. Reply back to
  <a href="mailto:wip_status@happyrabbit.com">wip_status@happyrabbit.com</a> by the end of the workweek.
</p>

<h4 style="margin-top: 30px;">WIP Current Status</h4>

<% if @creator.attentions.any? %>
  <p style="text-decoration: underline;">The following requires your attention this week:</p>
  <ul>
    <% @creator.attentions.each_pair do |order_status, attentions| %>
      <% attentions.each_pair.each_with_index do |(attention, orders_and_cols), i| %>
        <li>
          There are orders with status <%= order_status %> where
          <%= orders_and_cols[:orders].length %> have <span style="text-decoration: underline;"><%= attention %></span> information in
          <% orders_and_cols[:columns][0..2].each_with_index do |column, i| %><%= i+1 == orders_and_cols[:columns].length ? ' or' : ',' unless i.zero? %>
            <span style="font-style: italic;"><%= column %></span><% end %>
          <% if orders_and_cols[:columns].length > 3 %>
            or <%= orders_and_cols[:columns].length - 3 %> other
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

<% else %>
  <p>There is nothing explicit that requires your attention this week, but please review and send in your updates if anything has changed.</p>
<% end %>

<h4 style="margin-top: 30px;">WIP Guidelines:</h4>

<ul>
  <li>
    Milestone dates are shown as
    <span style="font-style: italic;">Orig: </span> (Original),
    <span style="font-style: italic;">Upd: </span> (Updated) and
    <span style="font-style: italic;">Act: </span> (Actual).
  </li>
  <li>
    <span style="font-style: italic;">Original</span> dates means when they
    were originally planned to be completed and are calculated based on
    <span style="font-style: italic;">1st Confirmed Ex. Factory date</span>.
  </li>
  <li><span style="font-style: italic;">Updated</span> dates should be set when a milestone is not yet complete, but the <span style="font-style: italic;">Original</span> date is no longer correct.</li>
  <li><span style="font-style: italic;">Actual</span> dates should only be set when the milestone is complete.</li>
  <li>Columns in <span style="background-color: lightgray;">Gray</span> cannot be changed.</li>
  <li>Cells in <span style="background-color: palevioletred;">Red</span> means it is missing or outdated information and needs to be updated.</li>
  <li>
    <span style="color: red;">DO NOT</span>
    add or remove any rows in this file. If orders are cancelled or have split shipment,
    please inform Happy Rabbit production and shipping managers, so that they can amend in the original WIP. Sorting
    rows is still okay.
  </li>
  <li>
    <span style="color: red;">DO NOT</span>
    add, remove or change the order of columns.
  </li>
  <li>A new WIP file will be sent out every week. Do not update and send back a file form a previous week.</li>
  <li>
    Only send one WIP file in each email. Meaning if you have received more than one request for update,
    send them back in separate emails.
  </li>
</ul>

<p>Thank you!</p>
