<h2>Request for weekly WIP status update</h2>

<p>
  Please review the attached WIP file and update the information if necessary. Reply back to
  <a href="mailto:wip_status@happyrabbit.com">wip_status@happyrabbit.com</a> by the end of the workweek.
</p>

<h3>Current status of the WIP</h3>
<ul>
  <% @creator.attentions.each_pair do |order_status, attentions| %>
    <% attentions.each_pair.each_with_index do |(attention, orders_and_cols), i| %>
      <li>
        There are <%= order_status %> orders where
        <%= orders[:orders].length %> orders have <%= attention %> information in
        <% orders_and_cols[:columns][0..2].each_with_index do |column, i| %>
          <%= i+1 == orders_and_cols[:columns].length ? 'or' : ',' unless i.zero? %>
          <%= column %>
        <% end %>
        <% if orders_and_cols[:columns].length > 3 %>
          or <%= orders_and_cols[:columns].length - 3 %> other.
        <% end %>
        .
      </li>
    <% end %>
  <% end %>
</ul>


<h3>Instructions on how to update the WIP:</h3>

<ul>
  <li>Columns in <span style="background-color: gray;">Gray</span> cannot be changed.</li>
  <li>Cells in <span style="background-color: red;">Red</span> means it is missing or outdated information and needs to be updated.</li>
  <li>
    <span style="color: red;">DO NOT</span>
    add or remove any rows in this file. If orders are cancelled or have split shipment,
    please inform Happy Rabbit production and shipping managers, so that they can amend in the original WIP. Sorting
    rows is still okay.
  </li>
  <li>
    <span style="color: red;">DO NOT</span>
    add, remove or change the order of columns.
  </li>
  <li>A new WIP file will be sent out every week. Do not update and send back a file form a previous week.</li>
  <li>Only send one WIP file in each email. Meaning if you have received more than one request for update, send them back in separate emails.</li>
</ul>

<p>Thank you!</p>
