<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th data-dt-search-input="true">Company</th>
    <th data-dt-search-input="true">Title</th>
    <th data-dt-search-date="true">Date</th>
    <th data-dt-search-input="true">Assigned To</th>
    <th data-dt-search-input="true">Article</th>
    <th data-dt-search-input="true">Inv. No.</th>
    <th data-dt-search-input="true">Inv. Ref.</th>
    <th>Qty</th>
    <th>Unit</th>
    <th>Unit Price</th>
    <th>Discount</th>
    <th>Total Cost</th>
    <th data-dt-search-input="true">Status</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Company</th>
    <th>Title</th>
    <th>Date</th>
    <th>Assigned To</th>
    <th>Article</th>
    <th>Inv. No.</th>
    <th>Inv. Ref.</th>
    <th>Qty</th>
    <th>Unit</th>
    <th>Unit Price</th>
    <th>Discount</th>
    <th>Total Cost</th>
    <th>Status</th>
  </tr>
  </tfoot>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var ajaxStatus = { active: true, archived: false };

      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": {
          "url": "<%= refinery.business_billables_path %>",
          "data": function(d) {
            Object.assign(d, ajaxStatus, JSON.parse($('meta[name=filter-params]').attr('content')));
          }
        },
        "order": [[3, 'desc']],
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.business_billables_path %>") } },
          { data: "company_label" },
          { data: "title" },
          { data: "billable_date", "render": dtDateRenderer },
          { data: "assigned_to_label" },
          { data: "article_code" },
          { data: "invoice_invoice_number" },
          { data: "invoice_reference" },
          { data: "qty" },
          { data: "qty_unit" },
          { data: "unit_price", "render": { "display": formatCurrency } },
          { data: "discount" },
          { data: "total_cost", "render": { "display": formatCurrency } },
          { data: "status" },
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell extra-toolbar'Bl><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>",
        buttons: [
          'excelHtml5'
        ]
      });

      initDataTable(dt, ajaxStatus);
    });
  </script>
<% end %>
