<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th data-dt-search-input="true">Code</th>
    <th data-dt-search-input="true">Description</th>
    <th data-dt-search-input="true">Company</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th data-dt-search-select="<%= ::Refinery::Business::Project::STATUSES.join(',') %>">Status</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Code</th>
    <th>Description</th>
    <th>Company</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Status</th>
  </tr>
  </tfoot>
</table>

<%= render 'refinery/datatable_dependencies' %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "ajax": "<%= ajax %>",
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.business_projects_path %>") } },
          { data: "code" },
          { data: "description" },
          { data: "company_label", "render": function(data, type, row) {
            var href = ["<%= refinery.business_companies_path %>", row.company_id].join('/');
            return $('<a></a>')
              .attr('href', href)
              .text(data)
              .prop('outerHTML');
          } },
          { data: "start_date", render: dtDateRenderer },
          { data: "end_date", render: dtDateRenderer },
          { data: "status" }
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell'l><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>"
      });

      initDataTable(dt);
    });
  </script>
<% end %>
