<% content_for :body do %>
  <% if page_role? Refinery::Business::ROLE_INTERNAL %>
    <%= render 'add_section_to_project', section: @section %>
  <% end %>

  <h3><%= @project.code %></h3>
  <section class="contact-card">

    <h3>Project Details</h3>
    <table class="cc-table">
      <tbody>
      <tr>
        <th>Code</th>
        <td><%= @project.code %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= @project.description %></td>
      </tr>
      <tr>
        <th>Company</th>
        <td>
          <% if @project.company.present? %>
            <%= link_to @project.company_label, refinery.business_company_path(@project.company) %>
          <% else %>
            <%= @project.company_label %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>Reference</th>
        <td><%= @project.company_reference %></td>
      </tr>
      <tr>
        <th>Timeline</th>
        <td><%= @project.start_date %> - <%= @project.end_date || 'Current' %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @project.status %></td>
      </tr>
      </tbody>
    </table>

    <% if current_authentication_devise_user.has_role? Refinery::Business::ROLE_INTERNAL_FINANCE %>
      <h3>Finance</h3>
      <p><%= link_to "See Project Invoices (#{@project.invoices.count})", refinery.business_invoices_path(project_id: @project) %></p>
    <% end %>

    <h3>Project Scope</h3>
    <% if @project.sections.any? %>
      <% @project.sections.each do |section| %>
        <%= render "section_#{section.section_type}", section: section %>
      <% end %>
    <% else %>
      <p>No sections added.</p>
    <% end %>

  </section>
<% end %>

<%= render '/refinery/content_page' %>
