<table>
  <tr>
    <td class="event-date">
      <span class="event-day"><%= event.starts_at.strftime('%d') %></span>
      <span class="event-month"><%= event.starts_at.strftime('%^b') %></span>
    </td>
    <td class="event-description">
      <% if event.ends_at.present? && event.ends_at.to_date != event.starts_at.to_date %>
        <h5>- <%= event.ends_at.strftime('%d %^b') %></h5>
      <% end %>
      <%= link_to event.title, refinery.calendar_event_path(event.id), 'data-reveal-id' => "event-modal-#{event.id}", 'data-reveal-ajax' => true %>
      <div id="event-modal-<%= event.id %>" class="reveal-modal" data-reveal></div>
      <div><%= event.excerpt %></div>
      <div><%= event.calendar.title %></div>
    </td>
  </tr>
</table>
