<div class="cell">
  <%=raw section.body %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_acne_studios', class: 'logo-acne-studios' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_adidas', class: 'logo-adidas' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_bjorn_borg', class: 'logo-bjorn-borg' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_canyon', class: 'logo-canyon' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_columbia', class: 'logo-columbia' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_depalma_workwear', class: 'logo-depalma-workwear' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_eytys', class: 'logo-eytys' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_hunter_boot', class: 'logo-hunter-boot' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_poc', class: 'logo-poc' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_swarovski', class: 'logo-swarovski' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_under_armour', class: 'logo-under-armour' %>
</div>

<div class="cell large-3 medium-4 small-6 text-align-center">
  <%= image_tag 'logos/logo_wood_wood', class: 'logo-wood-wood' %>
</div>
