<div class="cell">
  <%=raw section.body %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/' do %>
    <%= image_tag 'logos/logo_zapier', class: 'logo-zapier' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/apps/dropbox' do %>
    <%= image_tag 'logos/logo_dropbox', class: 'logo-dropbox' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/apps/google-sheets' do %>
    <%= image_tag 'logos/logo_google', class: 'logo-google' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/apps/office-365' do %>
    <%= image_tag 'logos/logo_office_365', class: 'logo-office-365' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/apps/slack' do %>
    <%= image_tag 'logos/logo_slack', class: 'logo-slack' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center">
  <%= link_to 'https://zapier.com/apps/asana' do %>
    <%= image_tag 'logos/logo_asana', class: 'logo-asana' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center hide-for-medium-only">
  <%= link_to 'https://zapier.com/apps/trello' do %>
    <%= image_tag 'logos/logo_trello', class: 'logo-trello' %>
  <% end %>
</div>

<div class="cell integr-logo-cell large-3 medium-4 small-6 text-align-center hide-for-medium-only">
  <%= link_to 'https://zapier.com/apps/xero' do %>
    <%= image_tag 'logos/logo_xero', class: 'logo-xero' %>
  <% end %>
</div>
