<% if @page.try(:live?) %>
  <%- side_body_contents = [@page.part_with_slug('side_body').try(:body), content_for(:side_body)].reject(&:blank?) -%>
  <%- side_body_content = content_for(:side_body).present? ? content_for(:side_body) : @page.part_with_slug('side_body').try(:body) -%>
  <%- body_contents = [@page.part_with_slug('body').try(:body), content_for(:body)].reject(&:blank?) -%>
  <%- body_content = content_for(:body).present? ? content_for(:body) : @page.part_with_slug('body').try(:body) -%>
  <%- body_content_title = content_for(:body_content_title) -%>
  <%- actions = content_for(:actions) -%>
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <% if actions.present? %>
      <span style="position: absolute; right: 2rem;">
        <%=raw actions %>
      </span>
      <% end %>

      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="/dashboard">Dashboard</a></li>
          <% @page.self_and_ancestors.each do |page| %>
            <% if page.title != 'Dashboard' %>
              <li>
                <% if page == @page %><span class="show-for-sr">Current: </span><% end %>
                <% if page.link_url %>
                  <%= link_to page.title, page.link_url %>
                <% else %>
                  <%= page.title %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </nav>

      <% if @page.self_and_ancestors[2].present? && (pages = @page.self_and_ancestors[1].children.select { |p| p.user_authorized?(current_authentication_devise_user) }).count > 1 %>
        <ul class="menu simple sub-menu section-menu">
          <% pages.each do |page| %>
            <% if page == @page %>
              <li class="current"><%= @page.title %></li>
            <% elsif filter_params.any? %>
              <li><%= link_to page.title, "#{page.link_url}?#{filter_params.to_query}" %></li>
            <% else %>
              <li><%= link_to page.title, page.link_url %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>

    <% if side_body_contents.any? %>

      <div class="medium-8 cell">
        <% if body_content_title.present? %>
          <h1 class="body_content_title"><%=raw body_content_title %></h1>
        <% end %>
        <%=raw body_contents.join %>
      </div>

        <div class="medium-4 cell">
          <%=raw side_body_contents.join %>
      </div>

    <% else %>

      <div class="cell">
        <% if body_content_title.present? %>
          <h1 class="body_content_title"><%=raw body_content_title %></h1>
        <% end %>
        <%=raw body_contents.join %>
      </div>

    <% end %>
  </div>

<% else %>
  <%= render '/refinery/draft_page_message' -%>
<% end %>
