<div class="row">
  <div class="small-6 medium-9 columns text-left t1 p1">
    <a href="/">
      <img data-interchange="[/assets/logo-small.png, (default)], [/assets/logo.png, (medium)]">
    </a>
  </div>
  <div class="small-6 medium-3 columns text-right">
    <a href="https://www.facebook.com/happyrabbitlimited" class="social-media facebook"></a>
    <a href="https://twitter.com/happyrabbitltd" class="social-media twitter"></a>
  </div>
</div>

<div class="row">
  <div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <!-- Left Nav Section -->
      <section class="top-bar-section">
        <ul class="left">
          <li><a href="/"><img class="header-logo" src="/assets/home.png"/></a></li>
          <% header_menu_items.roots.each do |root| %>
            <% if root.has_children? %>
              <li class="has-dropdown">
                <%= link_to root.title, refinery.url_for(root.url) %>
                <ul class="dropdown">
                  <% root.children.each do |child| %>
                    <li><%= link_to child.title, refinery.url_for(child.url) %></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li><%= link_to root.title, refinery.url_for(root.url) %></li>
            <% end %>
          <% end %>
        </ul>

        <ul class="right">
          <% if refinery_user_signed_in? %>
            <li class="has-dropdown">
              <a href="#"><%= current_refinery_user.full_name.present? ? current_refinery_user.full_name : current_refinery_user.email %></a>
              <ul class="dropdown">
                <li><%= link_to 'Refinery', '/refinery' %></li>
                <% if current_refinery_user.has_role?(:superuser) %>
                  <% if @page.present? %>
                    <li><%= link_to 'Edit this Page', refinery.edit_admin_page_path(@page.id) %></li>
                  <% end %>
                <% end %>
                <li><%= link_to 'SIGN OUT', destroy_session_path('refinery_user'), method: 'delete' %></li>
              </ul>
            </li>
          <% else %>
            <li class="has-form">
              <%= link_to 'SIGN IN', new_session_path('refinery_user'), class: 'button radius' %>
            </li>
          <% end %>
        </ul>
      </section>


    </nav>
  </div>
</div>
