<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-logo">
        <%= link_to '/' do %>
          <%= image_tag 'happy-rabbit' %>
        <% end %>
      </li>
      <li><a href="/portal">Dashboard</a></li>

      <% header_menu_items.roots.each do |root| %>
        <% if root.children.any? %>
          <li class="has-submenu">
            <%= link_to root.title, refinery.url_for(root.url) %>
            <ul class="submenu menu vertical">
              <% root.children.each do |child| %>
                <li><%= link_to child.title, refinery.url_for(child.url) %></li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li><%= link_to root.title, refinery.url_for(root.url) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="top-bar-right">
    <%= render 'refinery/user_menu' %>
  </div>
</div>
