<div class="grid-container">
  <div class="grid-x">
    <div class="cell medium-3 large-6">
      <h5>Happy Rabbit</h5>
      <ul></ul>
    </div>

    <div class="cell medium-3 large-2">
      <h5>Company</h5>
      <ul>
        <li><%= link_to 'About', '/about' %></li>
        <li><%= link_to 'News', '/news' %></li>
        <% if false %><li><%= link_to 'Media', '/media' %></li><% end -%>
        <li><%= link_to 'Careers', '/careers' %></li>
        <li><%= link_to 'Sustainability', '/sustainability' %></li>
        <li><%= link_to 'Legal', '/legal' %></li>
        <%# Remove the blank row when Media is re-added to menu. Letting an empty item remain to avoid height adjustments on footer %>
        <% if true %><li>&nbsp;</li><% end %>
      </ul>
    </div>

    <div class="cell medium-3 large-2">
      <h5>Resources</h5>
      <ul>
        <li><%= link_to 'Journal', '/journal' %></li>
        <li><%= link_to 'Glossary', '/glossary' %></li>
        <li><%= link_to 'FAQs', '/faq' %></li>
      </ul>
    </div>

    <div class="cell medium-3 large-2">
      <h5>Follow Us</h5>
      <p class="follow-us">
        <a href="https://www.linkedin.com/company/happy-rabbit-limited/">
          <i class="fa fa-linkedin" aria-hidden="true" title="Visit our LinkedIn page"></i>
          <span class="sr-only">Visit our LinkedIn page</span>
        </a>
        <a href="https://www.facebook.com/happyrabbitlimited">
          <i class="fa fa-facebook-f" aria-hidden="true" title="Visit our Facebook page"></i>
          <span class="sr-only">Visit our Facebook page</span>
        </a>
        <a href="https://www.instagram.com/happy_rabbit_group">
          <i class="fa fa-instagram" aria-hidden="true" title="Visit our Instagram page"></i>
          <span class="sr-only">Visit our Instagram page</span>
        </a>
        <a href="https://twitter.com/happyrabbitltd">
          <i class="fa fa-twitter" aria-hidden="true" title="Visit our Twitter page"></i>
          <span class="sr-only">Visit our Twitter page</span>
        </a>
      </p>
    </div>

    <div class="cell">
      <p>© <%= Date.today.year %> Happy Rabbit Group</p>
    </div>
  </div>
</div>
