<div class="grid-container">
  <div class="grid-x">
    <div class="cell">
      <h3>Happy Rabbit</h3>
    </div>

    <div class="cell medium-2 medium-offset-6">
      <h5><%= link_to 'Resources', '/resources' %></h5>
      <ul>
        <li><%= link_to 'Journal', '/journal' %></li>
        <li><%= link_to 'Glossary', '/resources/glossary' %></li>
        <li><%= link_to 'FAQs', '/resources/faq' %></li>
      </ul>
    </div>

    <div class="cell medium-2 end">
      <h5><%= link_to 'Company', '/about' %></h5>
      <ul>
        <li><%= link_to 'About', '/about' %></li>
        <li><%= link_to 'News', '/news' %></li>
        <li><%= link_to 'Media', '/about/media' %></li>
        <li><%= link_to 'Careers', '/about/careers' %></li>
        <li><%= link_to 'Sustainability', '/home/services/sustainability' %></li>
        <li><%= link_to 'Legal', '/legal' %></li>
      </ul>

      <h5>Follow Us</h5>
      <p class="follow-us">
        <a href="https://www.linkedin.com/company/happy-rabbit-limited/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/happyrabbitlimited"><i class="fa fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/happy_rabbit_group"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/happyrabbitltd"><i class="fa fa-twitter"></i></a>
      </p>
    </div>

    <div class="cell medium-5 end">
      <div class="input-group">
        <input class="input-group-field" type="email" placeholder="Your email...">
        <div class="input-group-button">
          <input type="submit" class="button" value="Sign Me Up!">
        </div>
      </div>
    </div>

    <div class="cell">
      <p>© <%= Date.today.year %> Happy Rabbit Group. All rights reserved.</p>
    </div>
  </div>
</div>
