<div class="off-canvas position-right" id="offCanvas" data-off-canvas>
  <div class="off-canvas-content">
    <div class="off-canvas-header">
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <% unless restrict_public_pages? %>
    <ul class="vertical menu" data-accordion-menu>
      <% header_menu_pages.each do |root| %>
        <li><%= link_to root.title, refinery.url_for(root.url) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="off-canvas-footer">
    <%= link_to 'Log In', login_url, class: 'button' %>
    <% unless restrict_public_pages? %>
    <%= link_to 'Get Started', home_page_url, class: 'button primary' %>
    <% end %>
  </div>
</div>

<% if is_home_page? && !restrict_public_pages? %>
<div id="topAnchor" style="position: absolute; top: 0; height: 30px;"></div>
<% end %>
<div class="top-bar-container" data-sticky-container<% if is_home_page? && !restrict_public_pages? %> style="position: absolute; height: 70px; top: 30px; width: 100%;"<% end %>>
  <div class="sticky-topbar sticky" data-sticky data-sticky-on="small" data-options="marginTop: 0;"<% if is_home_page? %> data-top-anchor="topAnchor:bottom"<% end %>>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
      <div class="title-bar-left">
        <%= link_to home_page_url do %>
          <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
        <% end %>
      </div>
      <div class="title-bar-right">
        <%= link_to 'Log In', login_url, class: 'button hide-for-small-only' %>
        <% unless restrict_public_pages? %>
        <%= link_to 'Get Started', home_page_url, class: 'button primary' %>
        <% end %>

        <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
      </div>
    </div>

    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="vertical large-horizontal dropdown menu" data-responsive-menu="accordion large-dropdown">
          <li class="menu-home">
            <div class="menu-home-container">
              <span class="menu-home-text">
                <%= link_to 'Happy Rabbit', home_page_url %>
              </span>
              <span class="menu-home-logo">
                <%= link_to home_page_url, class: 'menu-logo' do %>
                  <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
                <% end %>
              </span>
            </div>
          </li>

          <% unless restrict_public_pages? %>
          <% header_menu_pages.each do |root| %>
            <% if root.children.any? %>
              <li class="has-submenu">
                <%= link_to root.title, refinery.url_for(root.url) %>
                <ul class="submenu menu vertical">
                  <% root.children.each do |child| %>
                    <li><%= link_to child.title, refinery.url_for(child.url) %></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li><%= link_to root.title, refinery.url_for(root.url) %></li>
            <% end %>
          <% end %>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right show-for-large">
        <%= link_to 'Log In', login_url, class: 'button' %>
        <% unless restrict_public_pages? %>
        <%= link_to 'Get Started', home_page_url, class: 'button primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
