<% if is_home_page? %>
<div id="topAnchor" style="position: absolute; top: 0; height: 30px;"></div>
<% end %>
<div class="top-bar-container" data-sticky-container<% if is_home_page? %> style="position: absolute; height: 70px; top: 30px; width: 100%;"<% end %>>
  <div class="sticky-topbar sticky" data-sticky data-options="marginTop: 0; stickyOn: large;"<% if is_home_page? %> data-top-anchor="topAnchor:bottom"<% end %>>
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
      <div class="title-bar-left">
        <%= link_to home_page_url do %>
          <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
        <% end %>
      </div>
      <div class="title-bar-right">
        <span class="hide-for-small-only">
          <%= link_to 'Log In', home_page_url, class: 'button' %>
        </span>

        <%= link_to 'Get Started', home_page_url, class: 'button primary' %>

        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      </div>
    </div>

    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="vertical large-horizontal dropdown menu" data-responsive-menu="accordion large-dropdown">
          <li class="menu-home hide-when-stuck">
            <%= link_to 'Happy Rabbit', home_page_url %>
          </li>
          <li class="menu-logo show-when-stuck">
            <%= link_to home_page_url do %>
              <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
            <% end %>
          </li>
          <% header_menu_pages.each do |root| %>
            <% if root.children.any? %>
              <li class="has-submenu">
                <%= link_to root.title, refinery.url_for(root.url) %>
                <ul class="submenu menu vertical">
                  <% root.children.each do |child| %>
                    <li><%= link_to child.title, refinery.url_for(child.url) %></li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li><%= link_to root.title, refinery.url_for(root.url) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="top-bar-right show-for-large">
        <%= link_to 'Log In', home_page_url, class: 'button' %>

        <%= link_to 'Get Started', home_page_url, class: 'button primary' %>
      </div>
    </div>
  </div>
</div>
