<% if authentication_devise_user_signed_in? %>
  <ul class="dropdown menu" data-dropdown-menu>
    <li class="has-submenu">
      <a href="#">
        <% if current_authentication_devise_user.has_unopened_notifications? %>
          <span class="notification_count"><span class="unopened"><%= current_authentication_devise_user.unopened_notification_count %></span></span>
        <% end %>
        <%= current_authentication_devise_user.full_name %>
      </a>
      <ul class="submenu menu vertical">
        <li><%= link_to 'My Profile', '/my_profile' %></li>
        <li><%= link_to "/users/#{current_authentication_devise_user.to_param}/notifications" do %>
            Notifications
            <% if current_authentication_devise_user.has_unopened_notifications? %>
              <span class="notification_count"><span class="unopened"><%= current_authentication_devise_user.unopened_notification_count %></span></span>
            <% end %>
          <% end %></li>
        <% if current_authentication_devise_user.has_role?(:superuser) %>
          <li><%= link_to 'Refinery', '/portal/refinery' %></li>
        <% end %>
        <li><%= link_to 'Logout', destroy_session_path('authentication_devise_user'), method: 'delete' %></li>
      </ul>
    </li>
    <li><%= link_to 'PORTAL', '/portal', class: 'button' %></li>
  </ul>
<% else %>
  <ul class="menu">
    <li><%= link_to 'Login', new_session_path('authentication_devise_user'), class: 'button' %></li>
  </ul>
<% end %>
