<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th></th>
    <th>Photo</th>
    <th>Type</th>
    <th>Result</th>
    <th>PO</th>
    <th>Style</th>
    <th>Inspected</th>
    <th>Customer</th>
    <th>Supplier</th>
    <th>Manufacturer</th>
  </tr>
  </thead>

  <% unless options[:no_footer] %>
    <tfoot>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Type</th>
      <th>Result</th>
      <th>PO</th>
      <th>Style</th>
      <th>Inspected</th>
      <th>Customer</th>
      <th>Supplier</th>
      <th>Manufacturer</th>
    </tr>
    </tfoot>
  <% end %>
</table>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/responsive/2.2.3/css/responsive.foundation.min.css' %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.foundation.min.js"></script>

  <script type="text/javascript">
    function initDataTableMenu(dt) {
      var tmplMenu = '<ul class="dropdown menu" data-dropdown-menu><li><a href="#">Columns</a><ul class="menu"></ul></li></ul>';
      var tmplItem = '<li><a href="#"><i class="fa"></i></a></li>';

      var classVisible = 'fa-check-square-o';
      var classHidden = 'fa-square-o';

      var $menu = $(tmplMenu);

      dt.columns().every(function(colIndex) {
        if (colIndex === 0) return;

        var col = dt.column(colIndex);

        var $item = $(tmplItem);
        $('> a > i.fa', $item).addClass(col.visible() ? classVisible : classHidden);
        $('> a', $item).append($(col.header()).html()).data('col-index', colIndex);

        $('.menu', $menu).append($item);
      });

      $(dt.table().container()).prepend($menu);

      new Foundation.DropdownMenu($menu, { 'closeOnClickInside': false });

      $menu.on('click', '.menu > li > a', function() {
        var col = dt.column($(this).data('col-index'));

        col.visible(!col.visible());

        $('i.fa', this).toggleClass('fa-check-square-o');
        $('i.fa', this).toggleClass('fa-square-o');

        dt.columns.adjust();
      });
    }

    $(function(){
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "pageLength":     <%= options[:page_length] || 10 %>,
        "ajax": "<%= refinery.quality_assurance_inspections_path(filter_params) %>",
        "columns": [
          { data: "id", "render": function(data, type, row) {
            const href = ["<%= refinery.quality_assurance_inspections_path %>", row.id].join('/');
            const className = 'fa fa-arrow-circle-right';
            return $('<a></a>')
              .attr('href', href)
              .html('<i class="' + className + '"></i>')
              .prop('outerHTML');
          } },
          { data: "inspection_photo_thumb_url", "render": function(data, type, row) {
            if (data) {
              return $('<img />').attr('src', data).prop('outerHTML');
            }
            return null;
          } },
          { data: "inspection_type" },
          { data: "result" },
          { data: "po_number" },
          { data: "product_label"},
          { data: "inspection_date" },
          { data: "company_label" },
          { data: "supplier_label" },
          { data: "manufacturer_label" }
        ]
      });

      initDataTableMenu(dt);
    });
  </script>
<% end %>
