<table id="<%= table_id %>" class="display responsive nowrap" cellspacing="0" style="width: 100%;">
  <thead>
  <tr>
    <th><div class="hidden-title">Row</div></th>
    <th>Photo</th>
    <th data-dt-search-select="In-Line,Final,Re-Final">Type</th>
    <th data-dt-search-select="Pass,Reject,Hold">Result</th>
    <th data-dt-search-input="true">PO</th>
    <th data-dt-search-input="true">Style</th>
    <th data-dt-search-date="true">Insp. Date</th>
    <%- if false %><th data-dt-search-input="true">Project Ref.</th><%- end %>
    <th data-dt-search-input="true">Customer</th>
    <th data-dt-search-input="true">Supplier</th>
    <th data-dt-search-input="true">Manufacturer</th>
    <th data-dt-search-input="true">Project Code</th>
    <th data-dt-search-input="true">PO Qty</th>
    <th data-dt-search-input="true">Avail. Qty</th>
    <th data-dt-search-input="true">Sample Size</th>
    <th data-dt-search-input="true">Insp. By</th>
    <th data-dt-search-input="true">Product Code</th>
    <th data-dt-search-input="true">Product Desc.</th>
    <th data-dt-search-input="true">Product Colours</th>
    <th data-dt-search-input="true">Insp. Code</th>
  </tr>
  </thead>

  <% unless options[:no_footer] %>
    <tfoot>
    <tr>
      <th></th>
      <th>Photo</th>
      <th>Type</th>
      <th>Result</th>
      <th>PO</th>
      <th>Style</th>
      <th>Insp. Date</th>
      <%- if false %><th>Project Reference</th><%- end %>
      <th>Customer</th>
      <th>Supplier</th>
      <th>Manufacturer</th>
      <th>Project Code</th>
      <th>PO Qty</th>
      <th>Avail. Qty</th>
      <th>Sample Size</th>
      <th>Insp. By</th>
      <th>Product Code</th>
      <th>Product Desc.</th>
      <th>Product Colours</th>
      <th>Insp. Code</th>
    </tr>
    </tfoot>
  <% end %>
</table>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/responsive/2.2.3/css/responsive.foundation.min.css' %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css' %>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css' %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.foundation.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>

  <script type="text/javascript">
    $(function() {
      var dt = $('#<%= table_id %>').DataTable({
        "responsive":     true,
        "paging":         true,
        "pageLength":     <%= options[:page_length] || 10 %>,
        "ajax": "<%= refinery.quality_assurance_inspections_path(filter_params) %>",
        "order": [[6, 'desc']],
        "columns": [
          { data: "id", "render": { "display": idColumnRendererFor("<%= refinery.quality_assurance_inspections_path %>") } },
          { data: "inspection_photo_thumb_url", "render": dtThumbRenderer },
          { data: "inspection_type" },
          { data: "result", "render": { "display": function(data, type, row) { return '<span class="result-'+(data || '').toLowerCase()+'">'+data+'</span>' } } },
          { data: "po_number" },
          { data: "product_label"},
          { data: "inspection_date", render: dtDateRenderer },
//          { data: "company_project_reference" },
          { data: "company_label" },
          { data: "supplier_label" },
          { data: "manufacturer_label" },
          { data: "project_code" },
          { data: "po_qty" },
          { data: "available_qty" },
          { data: "inspection_sample_size" },
          { data: "inspected_by_name" },
          { data: "product_code" },
          { data: "product_description" },
          { data: "product_colour_variants" },
          { data: "code" },
        ],
        "dom": "<'row grid-x'<'medium-6 columns cell'Bl><'medium-6 columns cell'f>r>"+
          "t"+
          "<'row grid-x'<'medium-6 columns cell'i><'medium-6 columns cell'p>>",
        buttons: [
          'csvHtml5',
        ]
      });

      dt.on( 'draw', dtOnDrawSetImgSrc);

      initDataTable(dt)
    });
  </script>
<% end %>
