<% content_for :body_content_title do %>

<% end %>

<% content_for :body do %>
  <section class="contact-card">
    <h1 class="cc-attribute cc-name">
      <%=raw @inspection.code %>
      <span class="result-<%= @inspection.result.try(:downcase) %>"><%= @inspection.result %></span>
    </h1>
    <% if @inspection.resource.present? %>
      <%= link_to @inspection.resource.file.url do %>
        <i class="fa fa-file-pdf-o"></i>
        Download PDF Report
      <% end %>
    <% end %>

    <div class="grid-x grid-padding-x">
      <div class="cell medium-9">
        <h3>Job Details</h3>
        <table class="cc-table">
          <tbody>
          <% if (job = @inspection.job).present? %>
            <tr>
              <th style="width: 150px;">Job No.</th>
              <td>
                <% if page_role?(Refinery::QualityAssurance::ROLE_INTERNAL_MANAGER) %>
                  <%= link_to job.code, refinery.quality_assurance_job_path(job) %>
                <% else %>
                  <%= job.code %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Company</th>
              <td><%= job.company_label %></td>
            </tr>
            <tr>
              <th>Project</th>
              <td>
                <% if job.company.present? && job.project.nil? && page_role?(Refinery::QualityAssurance::ROLE_INTERNAL_MANAGER) %>
                  <%= form_for job, url: refinery.quality_assurance_job_path(job) do |f| %>
                    <%= hidden_field_tag :redirect_to, refinery.quality_assurance_inspection_path(@inspection) %>
                    <div class="input-group">
                      <%= f.text_field :project_label, :class => 'js_project_field input-group-field' -%>
                      <div class="input-group-button">
                        <%= f.submit 'Update', class: 'button' %>
                      </div>
                    </div>
                  <% end %>

                  <% content_for :javascripts do -%>
                    <script>
                      $(document).ready(function(){
                        $('.js_project_field').autocomplete({
                          source: <%= job.company.projects.to_source %>
                        });
                      });
                    </script>
                  <% end -%>

                  <% content_for :stylesheets do -%>
                    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css' %>
                  <% end -%>
                <% else %>
                  <%= job.project_label.presence || 'N/A' %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>Status</th>
              <td><%= job.status %></td>
            </tr>
          <% else %>
            <tr>
              <th style="width: 150px;">Job No.</th>
              <td><%= @inspection.code %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <h3>Inspection Details</h3>
        <table class="cc-table">
          <tbody>
          <tr>
            <th style="width: 150px;">Date</th>
            <td><%= @inspection.display_inspection_date %></td>
          </tr>
          <tr>
            <th>Supplier</th>
            <td><%= @inspection.supplier_label %></td>
          </tr>
          <tr>
            <th>Manufacturer</th>
            <td><%= @inspection.manufacturer_label %></td>
          </tr>
          <tr>
            <th>Inspected By</th>
            <td><%= @inspection.inspected_by_name %></td>
          </tr>
          </tbody>
        </table>

        <h3>Order / Product</h3>
        <table class="cc-table">
          <tbody>
          <tr>
            <th>Type</th>
            <td><%= @inspection.inspection_type %></td>
          </tr>
          <tr>
            <th style="width: 150px;">PO Number</th>
            <td><%=format_joined_items @inspection.po_number %></td>
          </tr>
          <tr>
            <th>Type</th>
            <td><%= @inspection.po_type %></td>
          </tr>
          <tr>
            <th>StyleNr / Product Code</th>
            <td><%= @inspection.product_code %></td>
          </tr>
          <tr>
            <th>Product Description</th>
            <td><%= @inspection.product_description %></td>
          </tr>
          <tr>
            <th>Colours / Variants</th>
            <td><%=format_joined_items @inspection.product_colour_variants %></td>
          </tr>
          <tr>
            <th>PO Qty</th>
            <td><%= number_with_delimiter @inspection.po_qty %></td>
          </tr>
          <tr>
            <th>Available Qty</th>
            <td><%= number_with_delimiter @inspection.available_qty %></td>
          </tr>
          <tr>
            <th>Sample Size</th>
            <td><%= number_with_delimiter @inspection.inspection_sample_size %></td>
          </tr>
          </tbody>
        </table>

        <h3>Inspection Result</h3>
        <table class="cc-table">
          <tbody>
          <tr>
            <th style="width: 150px;">Inspection Standard</th>
            <td colspan="3"><%= @inspection.inspection_standard %></td>
          </tr>
          <tr>
            <th></th>
            <th style="text-align: center;">Critical</th>
            <th style="text-align: center;">Major</th>
            <th style="text-align: center;">Minor</th>
          </tr>
          <tr>
            <th>Accepted</th>
            <td style="text-align: center;"><%= @inspection.acc_critical %></td>
            <td style="text-align: center;"><%= @inspection.acc_major %></td>
            <td style="text-align: center;"><%= @inspection.acc_minor %></td>
          </tr>
          <tr>
            <th>Found</th>
            <td style="text-align: center;"><%= @inspection.total_critical %></td>
            <td style="text-align: center;"><%= @inspection.total_major %></td>
            <td style="text-align: center;"><%= @inspection.total_minor %></td>
          </tr>
          <tr>
            <th>Result</th>
            <td colspan="3" class="result-<%= @inspection.result.try(:downcase) %>"><%= @inspection.result %></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="cell medium-3">
        <% if @inspection.inspection_photo.present? %>
          <%= dragonfly_reveal_tag @inspection.inspection_photo.image %>
        <% end %>
      </div>
    </div>

    <ul class="tabs" data-tabs id="example-tabs">
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Defects</a></li>
      <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Chart</a></li>
      <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Measurements</a></li>
      <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Product Photos</a></li>
      <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Other Photos</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1">
        <% @inspection.inspection_defects.each do |inspection_defect| %>
          <h5 style="margin-top: 30px;"><%= inspection_defect.defect_label %></h5>

          <section class="contact-card">
            <table class="cc-table">
              <tbody>
              <tr>
                <th></th>
                <th style="text-align: center;">Critical</th>
                <th style="text-align: center;">Major</th>
                <th style="text-align: center;">Minor</th>
                <th style="text-align: center;">Can Fix?</th>
              </tr>
              <tr>
                <th>Found</th>
                <td style="text-align: center;"><%= inspection_defect.critical %></td>
                <td style="text-align: center;"><%= inspection_defect.major %></td>
                <td style="text-align: center;"><%= inspection_defect.minor %></td>
                <td style="text-align: center;"><%= inspection_defect.display_can_fix %></td>
              </tr>
              </tbody>
            </table>
          </section>

          <p><%= inspection_defect.comments %></p>

          <div style="margin-top: 10px;">
            <div class="block-css-grid">
              <% inspection_defect.inspection_photos.each do |inspection_photo| %>
                <%= dragonfly_reveal_tag inspection_photo.image %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tabs-panel" id="panel2">
        <%= bar_chart @inspection.chart_defects, stacked: true, colors: ['#30384B'] %>
      </div>

      <div class="tabs-panel" id="panel3">
        <% @inspection.inspection_photos.non_defects.select(&:measurement_photo?).each do |inspection_photo| %>
          <%= dragonfly_reveal_tag inspection_photo.image, 716, 716 %>
        <% end %>
      </div>

      <div class="tabs-panel" id="panel4">
        <div class="block-css-grid">
          <% @inspection.inspection_photos.non_defects.select(&:product_photo?).each do |inspection_photo| %>
            <%= dragonfly_reveal_tag inspection_photo.image %>
          <% end %>
        </div>
      </div>

      <div class="tabs-panel" id="panel5">
        <div class="block-css-grid">
          <% @inspection.inspection_photos.non_defects.select(&:other_photo?).each do |inspection_photo| %>
            <%= dragonfly_reveal_tag inspection_photo.image %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if page_role? Refinery::QualityAssurance::ROLE_INTERNAL_MANAGER %>
  <% content_for :side_body do %>
    <aside>
      <h5>Status</h5>
      <p><%= @inspection.status %></p>

      <% if @inspection.status == 'Inspected' %>
        <h5>Verify content</h5>

        <% if @inspection.to_be_verified.any? %>
          <p>Please pay extra attention to the following:</p>

          <ul>
            <% @inspection.to_be_verified.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>

        <% else %>
          <p>We could not automatically determine anything that might be wrong, so look through in general.</p>
        <% end %>

        <% if @inspection.company.present? %>
          <%= form_for @inspection, url: refinery.quality_assurance_inspection_path(@inspection) do |f| %>
            <%= f.hidden_field :status, value: 'Notified' %>
            <% if @inspection.company.users.any? %>
              <ul>
                <% @inspection.company.users.each do |user| %>
                  <li>
                    <%= check_box_tag 'notify_users[]', user.id %>
                    <%= label_tag user.id, user.full_name %>
                  </li>
                <% end %>
              </ul>

              <p><%= f.submit 'Confirm and notify', confirm: 'This will send out a notification to the Customer.' %></p>
            <% else %>

              <p><%= f.submit 'Confirm', confirm: 'This will send out a notification to the Customer.' %></p>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </aside>
  <% end %>
<% end %>

<% if @similar_inspections.any? %>
  <% content_for :side_body do %>
    <aside>
      <h5><%= t('.similar') %></h5>
      <% @similar_inspections.each do |inspection| %>
        <div class="sidebar-item<%= ' with-preview' if inspection.inspection_photo.present? %>">
          <% if inspection.inspection_photo.present? %>
            <div class="item-preview">
              <%= image_tag inspection.inspection_photo.image.image.thumb('45x45#').url %>
            </div>
          <% end %>
          <div class="item-title">
            <%= link_to inspection.code, refinery.quality_assurance_inspection_path(inspection) %>
          </div>
          <div class="item-content">
            <%= [inspection.po_number, inspection.product_code, inspection.product_description, inspection.product_colour_variants].reject(&:blank?).join(', ') %>
          </div>
          <div class="item-trailing">
            <div class="result-<%= inspection.result.try(:downcase) %>">
              <i class="list-icon fa <%= inspection.result == 'Pass' ? 'fa-check-circle' : (inspection.result == 'Reject' ? 'fa-times-circle' : 'fa-question-circle') %>"></i>
              <%= inspection.result %>
            </div>
            <small style="float: right;"><%= time_ago_in_words inspection.display_inspection_date %> ago</small>
          </div>
        </div>
      <% end %>
    </aside>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
