<% content_for :notification_content, flush: true do %>
  <div class='notification_list <%= notification.opened? ? "opened" : "unopened" %>'>
    <div class="notification_list_cover"></div>
    <div class="list_image">
      <% if notification.notifier.present? %>

      <% else %>
        <%= image_tag 'happy-rabbit' %>
      <% end %>
    </div>
    <div class="list_text_wrapper">
      <p class="list_text">
        <strong><%= notification.notifier.present? ? notification.notifier.printable_notifier_name : 'Happy Rabbit' %></strong>
        <% if notification.group_member_notifier_exists? %>
          <%= " and #{notification.group_member_notifier_count} other" %>
          <%= notification.notifier.present? ? notification.notifier.printable_type.pluralize.downcase : 'people' %>
        <% end %>
        notified you of
        <% if notification.notifiable.present? %>
          <% if notification.group_member_exists? %>
            <%= " #{notification.group_notification_count} #{notification.notifiable_type.constantize.model_name.human.pluralize.downcase} including" %>
          <% end %>
          <%= notification.notifiable.printable_notifiable_name(notification.target) %>
          <%= "in #{notification.group.printable_group_name}" if notification.group.present? %>
        <% else %>
          <% if notification.group_member_exists? %>
            <%= " #{notification.group_notification_count} #{notification.notifiable_type.constantize.model_name.human.pluralize.downcase}" %>
          <% else %>
            <%= " a #{notification.notifiable_type.constantize.model_name.human.downcase}" %>
          <% end %>
          <%= "in #{notification.group.printable_group_name}" if notification.group.present? %>
          but the notifiable is not found. It may have been deleted.
        <% end %>
        <br>
        <span><%= notification.created_at.strftime("%b %d %H:%M") %></span>
      </p>
    </div>
  </div>
<% end %>

<div class='<%= "notification_#{notification.id}" %> notification'>
  <% if notification.unopened? %>
    <%= link_to open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :post, remote: true, class: "unopened_wrapper" do %>
      <div class="unopned_circle"></div>
      <div class="unopned_description_wrapper">
        <p class="unopned_description">Open</p>
      </div>
    <% end %>
    <%= link_to open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(move: true)), method: :post do %>
      <%= yield :notification_content %>
    <% end %>
    <div class="unopened_wrapper"></div>
  <% else %>
    <%= link_to move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes)) do %>
      <%= yield :notification_content %>
    <% end %>
  <% end %>

  <%#= link_to "Move", move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes)) %>
  <%# if notification.unopened? %>
    <%#= link_to "Open and move (GET)", move_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(open: true)) %>
    <%#= link_to "Open and move (POST)", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(move: true)), method: :post %>
    <%#= link_to "Open", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(index_options: @index_options))), method: :post %>
    <%#= link_to "Open (Ajax)", open_notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :post, remote: true %>
  <%# end %>
  <%#= link_to "Destroy", notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(index_options: @index_options)), method: :delete %>
  <% if false %>
  <%= link_to notification_path_for(notification, parameters.slice(:routing_scope, :devise_default_routes).merge(reload: false)), method: :delete, remote: true, class: "trash_wrapper" do %>
    <i class="fa fa-trash"></i>
  <% end %>
  <% end %>

</div>
