<li>
  <table>
    <tr>
      <td class="event-date">
        <span class="event-day"><%= event.starts_at.strftime('%d') %></span>
        <span class="event-month"><%= event.starts_at.strftime('%^b') %></span>
      </td>
      <td class="event-description">
        <% if event.ends_at.present? %>
          <h5>- <%= event.ends_at.strftime('%d %^b') %></h5>
        <% end %>
        <%= link_to event.title, refinery.calendar_event_path(event) %>
        <% if event.excerpt.present? %>
          <div><%= event.excerpt %></div>
        <% end %>
      </td>
    </tr>
  </table>
</li>
