<section id="events" class="events">
  <%- @calendar = Calendar.new(params[:year], params[:month]) -%>
  <h3 style="text-align: center;"><%= @calendar.date.strftime('%Y') %></h3>
  <h1 style="text-align: center;">
    <span style="float: left;"><small><%= link_to @calendar.previous_month.strftime('<< %^B'), refinery.calendar_events_path(year: @calendar.previous_month.year, month: @calendar.previous_month.month) %></small></span>
    <%= @calendar.date.strftime('%^B') %>
    <span style="float: right;"><small><%= link_to @calendar.next_month.strftime('%^B >>'), refinery.calendar_events_path(year: @calendar.next_month.year, month: @calendar.next_month.month) %></small></span>
  </h1>

  <div class="row calendar-row header">
    <% @calendar.headers.each_with_index do |day, day_i| %>
      <div class="medium-1 columns<% if day_i%7 == 6 %> end<% end %>">
        <%= day %>
      </div>
    <% end %>
  </div>

  <% @calendar.each_row do %>
    <div class="row calendar-row">
      <% @calendar.each_cell do |cell_idx, cell_date, events| %>
        <div class="medium-1 columns<% if cell_idx%7 == 6 %> end<% end %>">
          <div class="calendar-day<% if cell_date == @calendar.today %> today<% end %>"<% if cell_date.month != @calendar.date.month %> style="background-color: #eee; color: #999;"<% end %>>
            <p><%= cell_date.day %></p>
            <% events.each do |event| %>
              <p class="calendar-event"><%= link_to event.title, refinery.calendar_event_path(event), title: event.title %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
