<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <%= render '/refinery/head' %>
</head>
<body id="<%= canonical_id @page %>">

<div id="wrap">
<header id="header">
  <%= render '/refinery/header' -%>
</header>

<main>
  <div class="grid-container">
    <div class="grid-x" id="page">
      <div class="cell">

        <% if flash.any? %>
          <div id="message">
            <% flash.each do |key, value| %>
              <div class="flash flash_<%= key %>" >
                <%= value %>
                <%= link_to 'javascript:void(0)', class: 'flash_close' do %>
                  <i class="fa fa-times-circle"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</main>

<footer>
  <%= render '/refinery/footer' -%>
</footer>
</div>
<%= render '/refinery/javascripts' %>
</body>
</html>
