<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- If you delete this tag, the sky will fall on your head -->
  <meta name="viewport" content="width=device-width">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Happy Rabbit</title>

  <style type="text/css">
    *{ margin:0; padding:0; }
    *{ font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
    img{ max-width:100%; }
    .collapse{
      margin:0;
      padding:0;
    }
    body{
      -webkit-font-smoothing:antialiased;
      -webkit-text-size-adjust:none;
      width:100%!important;
      height:100%;
      background-color: #FAF8F7;
    }
    a{
      color:#2BA6CB;
    }
    th, td {
      text-align: left;
      vertical-align: top;
    }
    th.number, th.currency, td.number, td.currency {
      text-align: right;
    }

    td.logo {
      text-align: center;
    }
    table.head-wrap{
      width:100%;
    }
    .header.container table td.logo img{
      width:100px;
    }
    .header.container table td.label{
      padding:15px;
      padding-left:0px;
    }
    .header_text{
      border-top:1px solid #000;
      border-bottom:1px solid #000;
      padding:3px 0;
    }
    table.body-wrap{
      width:100%;
    }
    table.footer-wrap{
      width:100%;
      clear:both!important;
      background-color: #DFC68C;
    }
    .footer-wrap .container td.content p{
      border-top:1px solid rgb(215,215,215);
      padding-top:15px;
    }
    .footer-wrap .container td.content p{
      font-size:10px;
      font-weight:bold;
    }
    .footer-wrap a{
      text-decoration: underline;
    }
    .footer-wrap .social{
      margin-bottom:20px;
    }
    .footer-wrap .social a{
      font-weight: normal;
      margin:5px;
    }
    h1,h2,h3,h4,h5,h6{
      font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      line-height:1.1;
      margin-bottom:15px;
    }
    h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{
      font-size:60%;
      color:#6f6f6f;
      line-height:0;
      text-transform:none;
    }
    h1{
      font-family:Times, serif;
      font-weight:200;
      font-size:44px;
    }
    h2{
      font-weight:200;
      font-size:34px;
    }
    h3{
      font-weight:500;
      font-size:27px;
    }
    h4{
      font-weight:500;
      font-size:23px;
    }
    h5{
      font-weight:900;
      font-size:17px;
    }
    h6{
      font-weight:900;
      font-size:14px;
      text-transform:uppercase;
      color:#444;
    }
    .collapse{
      margin:0!important;
    }
    p,ul{
      margin-bottom:10px;
      font-weight:normal;
      font-size:14px;
      line-height:1.6;
    }
    p.last{
      margin-bottom:0px;
    }
    ul li{
      margin-left:5px;
      list-style-position:inside;
    }
    .container{
      display:block!important;
      max-width:600px!important;
      margin:0 auto!important;
      clear:both!important;
    }
    .content{
      padding:15px;
      max-width:600px;
      margin:0 auto;
      display:block;
    }
    .content table{
      width:100%;
    }
    .column{
      width:300px;
      float:left;
    }
    .column tr td{
      padding:15px;
    }
    .column-wrap{
      padding:0!important;
      margin:0 auto;
      max-width:600px!important;
    }
    .column table{
      width:100%;
    }
    .clear{
      display:block;
      clear:both;
    }
    table.list {
      border-collapse: collapse;
      border-spacing: 0;
    }
    table.list tr.even {
      background-color: #ebe9e8;
    }
    table.list td, table.list th {
      padding: 4px;
    }

    @media only screen and (max-width: 600px){
      a[class=btn]{
        display:block!important;
        margin-bottom:10px!important;
        margin-right:0!important;
      }

    }	@media only screen and (max-width: 600px){
      div[class=column]{
        width:auto!important;
        float:none!important;
      }

    }	@media only screen and (max-width: 600px){
      table.social div[class=column]{
        width:auto!important;
      }

    }

    /* line 31, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress {
      position: relative;
      box-sizing: border-box;
      padding-top: 4px;
      padding-bottom: 8px;
      padding-right: 6px;
      width: 100%;
    }
    /* line 40, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes {
      margin: 0px;
      flex: 1 1 0%;
      pointer-events: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }
    /* line 51, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container {
      flex: 1 1 0%;
      margin: 0px;
      pointer-events: auto;
    }
    /* line 56, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route {
      padding-top: 6px !important;
      position: relative !important;
    }
    /* line 60, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .checkpoint, .shipment-progress .routes .route-container .route .in-transit {
      background-color: #FAF8F7;
      padding-left: 6px !important;
      padding-right: 6px !important;
      position: absolute !important;
      left: -6px !important;
      top: 0px !important;
    }
    /* line 68, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .checkpoint .fa, .shipment-progress .routes .route-container .route .in-transit .fa {
      color: #a4a2ae;
      display: block !important;
      border-bottom: none;
    }
    /* line 73, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .checkpoint .fa.arrived, .shipment-progress .routes .route-container .route .in-transit .fa.arrived {
      color: #cc9418;
    }
    /* line 77, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .checkpoint .fa.departed, .shipment-progress .routes .route-container .route .in-transit .fa.departed {
      color: #48A9A6;
    }
    /* line 83, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .in-transit {
      left: 50% !important;
    }
    /* line 85, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .in-transit .fa {
      color: #cc9418;
    }
    /* line 90, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .transport {
      background-color: #a4a2ae;
      padding-top: 3px !important;
      height: 0px !important;
      width: 100% !important;
    }
    /* line 93, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .transport.departed {
      background-color: #cc9418;
    }
    /* line 97, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .routes .route-container .route .transport.arrived {
      background-color: #48A9A6;
    }
    /* line 109, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination {
      background-color: #FAF8F7;
      padding-left: 6px !important;
      position: absolute !important;
      right: 0px !important;
      top: 0px !important;
    }
    /* line 116, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination .dest-container {
      position: relative !important;
    }
    /* line 119, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination .dest-container .dest-inner {
      margin-top: -7px !important;
    }
    /* line 122, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination .dest-container .dest-inner .icon-cont {
      width: 12px;
      height: 12px;
      display: inline-block !important;
      position: relative !important;
    }
    /* line 129, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination .dest-container .dest-inner .icon-cont .icon {
      color: #a4a2ae;
      width: unset;
      height: unset;
      position: absolute !important;
      bottom: -0.5em !important;
      left: 0px !important;
      border-bottom: none;
    }
    /* line 132, /vagrant/vendor/extensions/refinerycms-shipping/app/assets/stylesheets/refinery/shipping.scss */
    .shipment-progress .destination .dest-container .dest-inner .icon-cont .icon.arrived {
      color: #48A9A6;
    }


  </style>

  <%= yield :head %>

</head>

<body>

<!-- HEADER -->
<table class="head-wrap">
  <tr>
    <td>&nbsp;</td>
    <td class="header container">

      <div class="content">
        <table>
          <tr>
            <td align="left">&nbsp;</td>
            <td class="logo" align="center"><%= asset_image_tag 'happy-rabbit.png' %></td>
            <td align="right">&nbsp;</td>
          </tr>
        </table>
      </div>

    </td>
    <td>&nbsp;</td>
  </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td>&nbsp;</td>
    <td class="container">

      <div class="content">
        <table>
          <tr>
            <td>
              <h2 align="center" class="header_text"><%= @header.presence || 'Notification' %></h2>
              <p align="center">
                <%= yield %>
              </p>
            </td>
          </tr>
        </table>
      </div>

    </td>
    <td>&nbsp;</td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td>&nbsp;</td>
    <td class="container">

      <!-- content -->
      <div class="content" align="center">
        <div class="social">
          <a href="http://www.facebook.com/happyrabbitlimited"><%= asset_image_tag 'facebook.png' %></a>
          <a href="http://twitter.com/happyrabbitltd"><%= asset_image_tag 'twitter.png' %></a>
        </div>

        <p style="margin-bottom: 20px;"><%= link_to 'Manage your subscription', user_subscriptions_url(@target) %></p>

        <p><strong>Happy Rabbit Group</strong></p>
        <p>2104, Wai Wah Commercial Centre<br>
          6 Wilmer Street<br>
          Sai Ying Pun, Hong Kong</p>
        <p><a href="http://www.happyrabbit.com">www.happyrabbit.com</a></p>
      </div><!-- /content -->

    </td>
    <td>&nbsp;</td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>
