<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
<%= render 'refinery/public_head' %>
</head>
<body>
<%= render 'cookies_eu/consent_banner', link: '/legal/cookie-policy', target: '_blank' %>

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div id="wrap">
    <%= render '/refinery/public_header' %>

    <% if flash.any? %>
      <div id="message">
        <% flash.each do |key, value| %>
          <div class="flash flash_<%= key %>" >
            <%= value %>
            <%= link_to 'X', 'javascript:void(0)', class: 'flash_close' %>
          </div>
        <% end %>
      </div>
    <% end %>


    <main<% if @page.present? %> class="page-<%= @page.slug %>"<% end %>>
      <%= yield %>
    </main>

    </div>

    <footer class="page-footer">
      <%= render '/refinery/public_footer' -%>
    </footer>
  </div>
</div>
<%= render '/refinery/google_analytics' %>

<%= yield :javascripts -%>
<%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
</body>
</html>
