<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/favicon.png">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>

  <%= stylesheet_link_tag 'foundation_and_overrides' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/motion-ui@1.2.3/dist/motion-ui.min.css" />
  <%= stylesheet_link_tag 'public' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= yield :stylesheets %>

  <%= render '/refinery/google_analytics' %>

  <%= javascript_include_tag 'modernizr-min' %>
  <%= javascript_include_tag 'public' %>

</head>
<body>
<div id="wrap">

<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: main; marginTop: 0; stickyOn: large;">
    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
      <div class="title-bar-left">
        <%= link_to '/home' do %>
          <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
        <% end %>
      </div>
      <div class="title-bar-right">
        <%= link_to 'Sign In', '/', class: 'button' %>

        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
      </div>
    </div>

    <div class="top-bar" id="responsive-menu">
      <div class="top-bar-left">
        <ul class="vertical large-horizontal dropdown menu" data-responsive-menu="accordion large-dropdown">
          <li class="menu-logo show-for-large">
            <%= link_to '/home' do %>
              <%= image_tag 'happy-rabbit', style: 'height: 32px; margin: 3px 0;' %>
            <% end %>
          </li>
          <% if false %>
          <li class="has-submenu">
            <%= link_to 'Services', '/services' %>
            <ul class="submenu menu vertical" data-submenu>
              <li><%= link_to 'Overview', '/services' %></li>
              <li><%= link_to 'Consulting Services', '/services#consulting' %></li>
              <li><%= link_to 'Sourcing Services', '/services#sourcing' %></li>
              <li><%= link_to 'Quality Assurance', '/services#quality-assurance' %></li>
            </ul>
          </li>
          <% end %>
          <li>
            <%= link_to 'Services', '/services' %>
          </li>
          <li>
            <%= link_to 'About', '/about' %>
          </li>
          <li>
            <%= link_to 'Journal', '/journal' %>
          </li>
          <li>
            <%= link_to 'Contact', '/contact' %>
          </li>
        </ul>
      </div>
      <div class="top-bar-right show-for-large">
        <%= link_to 'Sign In', '/', class: 'button' %>

        <div class="show-when-stuck">
          <div class="input-group">
            <input class="input-group-field" type="email" placeholder="Your email...">
            <div class="input-group-button">
              <input type="submit" class="button primary" value="Get Started">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if flash.any? %>
  <div id="message">
    <% flash.each do |key, value| %>
      <div class="flash flash_<%= key %>" >
        <%= value %>
        <%= link_to 'X', 'javascript:void(0)', class: 'flash_close' %>
      </div>
    <% end %>
  </div>
<% end %>


<main>
  <%= yield %>
</main>

</div>

<footer>
  <%= render '/refinery/footer' -%>
</footer>

</body>
</html>
